{% extends "layout.html" %}

{% block content %}

    <div class="section light">
        <main>
            <h1>Captcha</h1>

            <p class="sub-heading">
                For whatever reason, reCAPTCHA has <b>failed</b>.  Please go back and try again.  If this problem persists, contact the webmaster at:
            </p>
            <p class="indent">
                chad.skeeters at gm**l.com
            </p>
        </main>
    </div>

{% endblock %}
