{% extends "layout.html" %}

{% block content %}
    <div class="section light">
        <main>
            <h1>Texas Comptroller of Public Accounts</h1>
            <p>
                As Texas’ chief tax collector, accountant, revenue estimator, treasurer and purchasing manager, the <a href="https://comptroller.texas.gov/">Texas Comptroller of Public Accounts</a> is responsible for writing the checks and keeping the books for the multi-billion-dollar business of state government.
            </p>
        </main>
    </div>

    <div class="section white">
        <main>

            <h1>Secretary of State of Texas</h1>

            <p class="sub-heading">
                The <a href="https://www.sos.state.tx.us/">Office of the Secretary of State</a> also provides a repository for official and business and commercial records required to be filed with the Office.

            </p>

            <p>
                Current board members can be searched for using the Texas Comptroller's <a href="https://mycpa.cpa.state.tx.us/coa/">Taxable Entity Search</a>.  Use either of the following identifiers to find Walden Point.
            </p>
            <p class="indent">
                <label>Tax ID</label>: <b>30117798188</b> (Same as Taxpayer Number)<br>
                <label>Entity Name</label>: <b>WALDEN POINT HOMEOWNERS ASSOCIATION, INC.</b><br>
                <label>(Texas SOS) File Number</label>: <b>0135508301</b> (01-35508301)<br>
            </p>
            <p>
                Walden Point first filed with the Secretary of State on May 5th, 1995.
            </p>
        </main>
    </div>

    <div class="section light">
        <main>
            <h1>Bexar County Clerk</h1>

            <p class="sub-heading">
                The <a href="https://www.bexar.org/2950/Real-PropertyLand-Records">Bexar County Clerk, Real Property/Land Records Office</a> keeps track of homeowners associations in Bexar County.
            </p>
        </main>
    </div>

{% endblock %}
