{% extends "layout.html" %}

{% block content %}
    <div class="section light">
        <main>
            <h1>Welcome</h1>
            <p>
                Welcome to the website for the Walden Point Homeowner's Association.  The purpose of this website is to provide our members and potential members with helpful information related to the HOA to facilitate a thriving community.
            </p>
        </main>
    </div>
    <div class="section white">
        <main>
            <h1>Documents</h1>

            <p>
                These documents are filed with either the Texas Comptroller of Public Accounts, Secretary of State (SoS) of Texas, or the Bexar County Clerk.  Learn more about these <a href="filing-agencies">filing agencies</a>.
            </p>

            <p>
                The documents that have been converted to HTML may contain typos and are not binding version, but provide a much easier way to review the contents of each document.
            </p>

            <p>
                Download <a href="files/Walden Point PDFs.zip">all PDFs</a>.
            </p>

            <div class="doc cards double">

                <div class="card doc expand-second">
                    <h2>DCCR</h2>
                    <p>
                        Declaration of covenants, conditions, and restrictions
                    </p>
                    <div class="buttons">
                        <a href="doc/dccr" class="button rise html highlight stroke">HTML</a>
                        <a href="files/Walden Point HOA - DCCR 95-26224.pdf" class="button rise pdf stroke">PDF</a>
                    </div>
                </div>
                <div class="card ammend expand-second">
                    <h2>DCCR Ammendment 1</h2>
                    <p>
                        Optional membership in Sierra Heights HOA.
                    </p>
                    <div class="buttons">
                        <a href="doc/dccr-a1" class="button rise html highlight stroke">HTML</a>
                        <a href="files/Walden Point HOA - DCCR Amendment 1 - 2018-0064147.pdf" class="button rise pdf stroke">PDF</a>
                    </div>
                </div>

                <div class="card doc expand-second">
                    <h2>By-Laws</h2>
                    <p>
                        Rules by which the organiztion operates.  The PDF includes the <em>Articles of Incorporation</em>.
                    </p>
                    <div class="buttons">
                        <a href="doc/by-laws" class="button rise html highlight stroke">HTML</a>
                        <a href="files/Walden Point HOA - Bylaws - Articles of Incorporation - 2000-0134637.pdf" class="button rise pdf stroke">PDF</a>
                    </div>
                </div>

                <div class="card doc expand-second">
                    <h2>Articles of Incorporation</h2>
                    <p>
                        This document was filed with the State of Texas to legally create this non profit corporation.  The PDF is included with the <em>By-Laws</em>.
                    </p>
                    <div class="buttons">
                        <a href="doc/aoi" class="button rise html highlight stroke">HTML</a>
                    </div>
                </div>

                <div class="card ammend expand-second">
                    <h2>Articles of Correction</h2>
                    <p>
                        Corrections to the Articles of Incorporation. The PDF file has yet to be scanned in.
                    </p>
                    <div class="buttons">
                        <a href="doc/aoc" class="button rise html highlight stroke">HTML</a>
                    </div>
                </div>

                <div class="card map expand-second">
                    <h2>Plat</h2>
                    <p>
                        The Plat is filed with The Bexar County Clerk in the Real Property/Land Records office.  It shows who owns what land.
                    </p>
                    <div class="buttons">
                        <a href="files/Walden Point HOA - Plat - 95-13579 - 4127404_14756813.pdf" class="button rise pdf stroke">PDF</a>
                    </div>
                </div>

            </div>

        </main>
    </div>
{% endblock %}
