{% extends "doc/layout.html" %}

{% block title %}
Articles of Correction
{% endblock %}

{% block content %}
    <h1 id="title">ARTICLES OF CORRECTION</h1>

    <div id="content">
        <p>
            These articles are adopted pursuant to the Texas Miscellaneous Corporation Laws Act, article 1302-7.02, to correct a document which is an inaccurate record of corporate action, contains an inaccurate or erroneous statement or was defectively or erroneously executed, sealed, acknowledged or verified.
        </p>

        <h2 id="a1">ARTICLE ONE</h2>

        <p>
            The name of the corporation is Walden Point Homeowners Association, Inc. (the "Association").
        </p>

        <h2 id="a2">ARTICLE TWO</h2>

        <p>
            The document to be corrected is Articles of Incorporation of Walden Point Homeowners Association, Inc. (the "Articles"), a Texas non. profit corporation, which was filed in the Office of the Secretary of State on May 5, 1995, under Charter No. 01355083-01.
        </p>

        <h2 id="a3">ARTICLE THREE</h2>

        <p>
            <a href="aoi#a8">Article Eight</a> of the Articles states that the Walden Point Subdivision is located in the City of Universal City, Bexar County, Texas; Walden Point Subdivision is not located in the City of University City.
        </p>

        <h2 id="a4">ARTICLE FOUR</h2>

        <p>
            <a href="aoi#a8">Article Eight</a> should be and read as follows:
        </p>

        <div class="tab">
            <p>
                Every person or entity who is a record owner of a fee or undivided interest in any Lot situated in the Walden Point Subdivision, in Bexar County, Texas; and such additional lands as may become subject to the jurisdiction and assessment of the Association, shall be a Member of the Association, provided, however, that any person or entity holding an interest in any such Lot or Lots merely as security for the performance of an obligation shall not be a Member. The Association may issue certificates to its members to evidence their Membership.
            </p>
        </div>

        <h2 id="a5">ARTICLE FIVE</h2>

        <p>
            <a href="aoi#a9">Article Nine</a> of the Articles incorrectly refers to the Class B Member as being "Universal Coronado, Ltd." All references to "Universal Coronado, Ltd." should be replaced with "Camp Bullis, Ltd."
        </p>

        <h2 id="a6">ARTICLE SIX</h2>

        <p>
            <a href="aoi#a9">Article Nine</a> should be and read as follows:
        </p>

        <div class="tab">
            <p>
                The Association shall have two (2) classes of voting membership: "Class A" Members shall be all members other than the "Class B" Member.
            </p>

            <p>
                Class A Members shall be every person or entity as defined in Article Eight, with the exception of Camp Bullis, Ltd., its successors and assigns.  Class A Members shall be entitled to one vote for each Lot in which they hold the interest required for membership by Article Eight.  When more than one person is the owner of any Lot, all such persons shall be members, and the vote of such Lot shall be exercised as they among themselves determine, but in no event shall more than one (1) vote be cast with respect to any Lot.
            </p>

            <p>
                The Class B Member shall be Camp Bullis, Ltd., provided that Camp Bullis, Ltd. may assign its Class B Membership, or a portion thereof, to an individual or corporate home builder ("Builder Member"), and such assignee shall be a Class B Member.  The Class B Member shall be entitled to three votes for each Lot in which it holds the interest required by Article Eight, provided that the Class B membership shall cease and become converted to a Class A membership on the happening of the following events, whichever occurs earlier:
            </p>

            <ol class="letters">
                <li>
                    When the total votes outstanding in the Class A membership equals the total votes outstanding in the Class B membership, or
                </li>

                <li>
                    On January 1, 2015.
                </li>

            </ol>

            From and after the happening of these events, whichever occurs earlier, the Class B Member shall be deemed to be a Class A Member entitled to one vote for each Lot in which it holds the interest required for membership under Article Eight.
        </div>


        <p>
            IN WITNESS WHEREOF, all of the Directors of the Association have hereunto set our hands this 24 day of May, 1995.
        </p>

        <pre class=tab>
            Miles Prestemon
            Diana Farris
            Gordon W. Best
        </pre>
    </div>
{% endblock %}
