{% extends "doc/layout.html" %}

{% block title %}
Articles of Incorporation
{% endblock %}

{% block content %}
    <h1 id="title">
        ARTICLES OF INCORPORATION<br>
        OF<br>
        WALDEN POINT HOMEOWNERS ASSOCIATION, INC.
    </h1>

    <div id='toc'>
        <h1><a href='#title'>Table of Contents</a></h1>
        <a href="#a1">Article One</a>
        <a href="#a2">Article Two</a>
        <a href="#a3">Article Three</a>
        <a href="#a4">Article Four</a>
        <a href="#a5">Article Five</a>
        <a href="#a6">Article Six</a>
        <a href="#a7">Article Seven</a>
        <a href="#a8">Article Eight</a>
        <a href="#a9">Article Nine</a>
        <a href="#a10">Article Ten</a>
        <a href="#a11">Article Eleven</a>
        <a href="#a12">Article Twelve</a>
    </div>

    <div id="content">

        <p>
            The undersigned natural person of the age of eighteen (18) years or more, being a citizen of the State of Texas, acting as incorporator of a corporation under the Texas Non-Profit Corporation Act, does hereby adopt the following Articles of Incorporation for such Corporation:
        </p>

        <h2 id="a1">ARTICLE ONE</h2>

        <p>
            The name of the Corporation is Walden Point Homeowners Association, Inc., hereinafter sometimes referred to as the "Corporation" or "Association."
        </p>

        <h2 id="a2">ARTICLE TWO</h2>

        <p>
            The Corporation is a non-profit corporation.
        </p>

        <h2 id="a3">ARTICLE THREE</h2>

        <p>
            The period of its duration is perpetual.
        </p>

        <h2 id="a4">ARTICLE FOUR</h2>

        <p>
            The Corporation is organized for the following purposes: to maintain and administer the Common Facilities of the Walden Point Homeowners Association, Inc., in Bexar County, Texas; to collect and disburse the assessments and charges set forth in any Declaration of Covenants, Conditions and Restrictions which may be filed of record for such real property, including any Amended or Supplemental Declarations thereto, and for all additional properties which may come within the jurisdiction of the Association by annexation; and for such other lawful non-profit purposes as the Corporation may determine.  The Corporation shall be operated exclusively for such purposes, and no part of its net earnings shall inure to the benefit of any private shareholder or individual, no substantial part of its activities shall be carrying on propaganda, or otherwise attempting to influence legislation, and it shall not participate in, or intervene in (including the publishing or distributing of statements), any political campaign on behalf of any candidate for public office.  The Corporation shall have all powers allowed by the laws of Texas to be exercised by non-profit corporations.
        </p>

        <h2 id="a5">ARTICLE FIVE</h2>

        <p>
            The number of Directors constituting the initial Board of Directors of the Corporation is three (3) and the names and addresses of the persons who are to serve as the initial Directors are:
        </p>

        <pre class="tab fixed">
            Diana Farris      14607 San Pedro, Suite 100 San Antonio, Texas 78232
            Miles Prestemon   14607 San Pedro, Suite 100 San Antonio, Texas 78232
            Gordon W. Best    14607 San Pedro, Suite 100 San Antonio, Texas 78232
        </pre>

        <p>
            The number of directors may be changed to not less than three, nor more than nine directors, by amendment to the By-Laws of the Association.
        </p>

        <h2 id="a6">ARTICLE SIX</h2>

        <p>
            The street address of the initial registered office of the Corporation is 14607 San Pedro, Suite 100, San Antonio, Texas 78232, and the name of its registered agent at such address is Miles Prestemon.
        </p>

        <h2 id="a7">ARTICLE SEVEN</h2>

        <p>
            The Corporation is a non-profit corporation, without capital stock, organized solely for non-profit purposes, and no director, officer or employee of the Corporation, nor any individual having a personal or private interest in the activities of the Corporation, shall ever be lawfully entitled to receive any profit from the operations of the Corporation, except reasonable compensation for services rendered in carrying out one or more of its stated purposes.  The Corporation shall not engage in, and none of its funds or property shall be devoted to carrying on propaganda, or otherwise attempting to influence legislation.
        </p>

        <h2 id="a8">ARTICLE EIGHT</h2>

        <p>
            Every person or entity who is a record owner of a fee or undivided interest in any Lot situated in the Walden Point Subdivision, in <del>the City of Universal City,</del> Bexar County, Texas; and such additional lands as may become subject to the jurisdiction and assessment of the Association, shall be a Member of the Association, provided, however, that any person or entity holding an interest in any such Lot or Lots merely as security for the performance of an obligation shall not be a Member.  The Association may issue certificates to its members to evidence their Membership.
        </p>

        <h2 id="a9">ARTICLE NINE</h2>

        <p>
            The Association shall have two (2) classes of voting membership: "Class A" Members shall be all members other than the "Class B" Member.
        </p>

        <p>
            Class A Members shall be every person or entity as defined in Article Eight, with the exception of Universal Coronado, Ltd., its successors and assigns. Class A Members shall be entitled to one vote for each Lot in which they hold the interest required for membership by Article Eight.  When more than one person is the owner of any Lot, all such persons shall be members, and the vote of such Lot shall be exercised as they among themselves determine, but in no event shall more than one (1) vote be cast with respect to any Lot.
        </p>

        <p>
            The Class B Member shall be Universal Coronado, Ltd., provided that Universal Coronado, Ltd. may assign its Class B Membership, or a portion thereof, to an individual or corporate home builder ("Builder Member"), and such assignee shall be a Class B Member.  The Class B Member shall be entitled to three votes for each Lot in which it holds the interest required by Article Eight, provided that the Class B membership shall cease and become converted to a Class A membership on the happening of the following events, whichever occurs earlier:
        </p>

        <ol class="letters">
            <li>
                When the total votes outstanding in the Class A membership equals the total votes outstanding in the Class B membership, or
            </li>

            <li>
                On January 1, 2015.
            </li>
        </ol>

        <p>
            From and after the happening of these events, whichever occurs earlier; the Class B Member shall be deemed to be a Class A Member entitled to one vote for each Lot in which it holds the interest required for membership under Article Eight.
        </p>

        <h2 id="a10">ARTICLE TEN</h2>

        <p>
            The Association shall be entitled to indemnify its officers, directors, and those acting on its behalf, including members of an Architectural Control Committee or other similar committee, to the fullest extent allowed by the Texas Non-Profit Corporation Act or other applicable law.
        </p>

        <h2 id="a11">ARTICLE ELEVEN</h2>

        <p>
            Amendment of these Articles shall require the assent of seventy-five percent (75%) of the membership of the Association.
        </p>

        <h2 id="a12">ARTICLE TWELVE</h2>

        <p>
            The name and address of the incorporator is:
        </p>

        <p class="tab">
            Miles Prestemon
            14607 San Pedro, Suite 100
            San Antonio, Texas 78232
        </p>

        <p>
            IN WITNESS WHEREOF, I have hereunto set my hand this 28 day of April, 1995.
        </p>


        <pre class="tab">
            Miles Prestemon
        </pre>
    </div>

{% endblock %}
