{% extends "doc/layout.html" %}

{% block title %}
By-Laws
{% endblock %}

{% block content %}

    <h1 id="title">
        BY-LAWS<br>
        OF<br>
        WALDEN POINT HOMEOWNERS ASSOCIATION, INC.
    </h1>

    <div id='toc'>
        <h1><a href='#title'>Table of Contents</a></h1>
        <a href="#a1">Object</a>
        <a href="#a2">Membership, Voting, Quorum, Proxies</a>
        <a href="#a3">Administration</a>
        <a href="#a4">Board of Directors</a>
        <a href="#a5">Officers</a>
        <a href="#a6">Indemnification of Officers and Managers</a>
        <a href="#a7">Obligations of Owner</a>
        <a href="#a8">Article 8</a>
        <a href="#a9">Article 9</a>
        <a href="#a10">Article 10</a>
        <a href="#a11">Article 11</a>
    </div>

    <div id="content">
        <p>
            The name of the organization shall be Walden Point Homeowners Association, Inc.  The following definitions shall apply to these By-Laws:
        </p>

        <ol class="letters">
            <li id="a">
                "ACC," "Committee," and "Architectural Control Committee" shall mean the Architectural Control Committee established pursuant to this Declaration.
            </li>

            <li id="b">
                "Articles" shall mean the Articles of Incorporation of Walden Point Homeowners Association, Inc., as they may, from time to time, be amended.
            </li>

            <li id="c">
                "Association" shall mean and refer to Walden Point Homeowners Association, Inc., a Texas non-profit corporation, its successors and assigns as provided for herein.
            </li>

            <li id="d">
                "Board of Directors" shall mean and refer to the governing body of the Association, the election and procedures of which shall be as set forth in the Articles of Incorporation and By-Laws of the Association.
            </li>

            <li id="e">
                "Builder Member" shall mean such builders approved by Declarant for construction within the subdivision and who own one or more Lots for construction of a residence for resale to others.
            </li>

            <li id="f">
                "Bylaws" shall mean the Bylaws of Walden Point Homeowners Association, Inc., as they may, from time to time, be amended.
            </li>

            <li id="g">
                "Common Facilities" shall mean and refer to all property leased, owned, or maintained by the Association, if any, for the use and benefit of the Members of the Association.
            </li>

            <li id="h">
                "Declarant" shall mean and refer to CAMP BULLIS, LTD., its successors or assigns.
            </li>

            <li id="i">
                "Living Unit" shall mean and refer to a single family residence and its attached or detached garage situated upon a Lot.
            </li>

            <li id="j">
                "Lot" shall mean and refer to any of the plots of land in the Walden Point Subdivision, in Bexar County, Texas, as shown on the Subdivision Plat and such additional lots or property as may be annexed into the Association from time to time.
            </li>

            <li id="k">
                "Member" shall mean and refer to all those Owners who are members of the Association as provided herein.
            </li>

            <li id="l">
                "Owner" shall mean and refer to the record owner, whether one or more persons or entities, of the <dfn title="{{terms.fee}}">fee</dfn> simple title to any Lot or portion of a Lot, within the Properties, including contract sellers but excluding <dfn title="{{terms.lender}}">those having interest merely as security for the performance of an obligation</dfn>.
            </li>

            <li id="m">
                "Properties" shall mean and refer to the above described properties known as Walden Point, and additions thereto, as are subject to this Declaration or any Amended or Supplemental Declaration.
            </li>

            <li id="n">
                "Secretary" shall mean and refer to the Secretary of the Association as set forth in Article V, Sections 1 and 5, hereof.
            </li>

            <li id="o">
                "Subdivision Plat" shall mean and refer to the map or plat of Walden Point, filed for record as "Walden Meadows Garden Homes Unit 2" in Volume 9531, Page 8, Deed and Plat Records of Bexar County, Texas, and any amendment thereof or additions thereto upon filing of same for record in the Deed and Plat Records of Bexar County, Texas.
            </li>
        </ol>

        <h2 id="a1">
            ARTICLE I<br>
            OBJECT
        </h2>

        <p id="a1_1">
            1.  The primary purpose of this non-profit Association is to maintain and administer the Common Facilities, if any, and to collect and disburse the assessments and charges hereinafter created, with regard to the residential properties known as Walden Point, and such additions thereto as may be brought within the jurisdiction of the Association, subject to the provisions of the Declaration of Restrictive Covenants and Conditions, including amendments or supplements thereto, which may now exist or hereafter be placed on such property.
        </p>

        <p id="a1_2">
            2.  All present or future owners, tenants, future tenants, or any other persons that might use the Common Facilities, if any, in any manner, are subject to the regulations set forth in these ByLaws.  The mere acquisition or rental of any Lot or the mere act of occupancy of any 0 Lot will signify that these By-Laws are accepted, ratified, and will be complied with.
        </p>


        <h2 id="a2">
            ARTICLE II<br>
            MEMBERSHIP, VOTING, QUORUM, PROXIES
        </h2>

        <p id="a2_1">
            1.  <b>Membership</b>.  Any person on becoming an Owner of a <dfn title="an estate of land, especially one held on condition of feudal service">fee</dfn> or undivided interest in any Lot shall automatically become a member of this Association and be subject to these By-Laws, provided, however, that any person or entity holding an interest in any such Lot merely as security for the performance of an obligation, shall not be a Member.  Such membership shall terminate without any formal Association action whenever such person ceases to own a Lot, but such termination shall not relieve or release any such former Owner from any liability or obligation incurred under or in any way connected with the Properties during the period of such ownership and membership in the Association, or impair any rights or remedies which the Board of Directors of the Association or others may have against such former Owner and Member arising out of or in any way connected with such ownership and membership and the covenants and obligations incident thereto.  No certificates of stock shall be issued by the Association, but the Board of Directors may, if it so elects, issue one membership card to the Owner(s) of a Lot.  Such membership card shall be surrendered to the Secretary whenever ownership of the Lot designated thereon shall terminate.
        </p>

        <p id="a2_2">
            2.  <b>Voting Rights</b>.  The Association shall have two classes of voting membership:
        </p>

        <div class="tab">
            <p>
                <b>Class A</b>.  Class A Members shall be all those Owners as defined in Section 1, Article II, with the exception of Camp Bullis, Ltd. and Builder Members.  Class A Members shall be entitled to one vote for each Lot in which they hold the interest required for membership in Section 1 of Article II.  When more than one person holds such interest or interests in any Lot, all such persons shall be Members, and the vote for such Lot shall be exercised as they among themselves determine, but in no event shall more than one vote be cast with respect to any such Lot.
            </p>

            <p>
                <b>Class B</b>.  Class B Members shall be Camp Bullis, Ltd. and Builder Members.  Class B Members shall be entitled to three votes for each Lot in which they hold the interest required by Section 1, provided that the Class B membership shall cease and become converted to Class A membership on the happening of the following events, whichever occurs earlier:
            </p>

            <ol class="letters">
                <li>
                    When the total votes outstanding in the Class A membership equal the total votes outstanding in the Class B membership; or
                </li>

                <li>
                    On January 1, 2015.
                </li>
            </ol>
        </div>

        <p>
            From and after the happening of these events, whichever occurs earlier, the Class B Members shall be deemed to be Class A Members entitled to one vote for each Lot in which they hold the interests required for membership under Section 1, Article II.
        </p>

        <p id="a2_3">
            3.  <b>Quorum</b>.  Except as otherwise provided in these By-Laws, the presence in person or by proxy of Owners representing thirty percent (30%) ownership of the Lots shall constitute a quorum.
        </p>

        <p id="a2_4">
            4.  <b>Proxies</b>.  Votes may be cast in person or by proxy.  Proxies must be filed with the Secretary before vote is taken on any matter on which the proxy is to be exercised.
        </p>

        <h2 id="a3">
            ARTICLE III<br>
            ADMINISTRATION
        </h2>

        <p id="a3_1">
            1.  <b>Association Responsibilities</b>.  The Owners of the Lots will constitute the Association of Lot Owners, hereinafter referred to as "Association," who will have the responsibility of administering the Common Facilities, if any, through a Board of Directors.
        </p>

        <p id="a3_2">
            2.  <b>Place of Meetings</b>.  Meetings of the Association shall be held at such place as the Board of Directors may determine.
        </p>

        <p id="a3_3">
            3.  <b>Annual Meeting</b>.  There shall be a meeting of the Association thirty (30) days before or after October I of each year beginning in 1995, at 7:00 P.M., or such other reasonable time (not more than sixty (60) days before or after such date) and at such place as the Board of Directors may determine.  At such meetings there shall be elected by ballot of the Owners a Board of Directors in accordance with the requirements of Section 5 of Article IV of these By-Laws.  The Owners may also transact such other business of the Association as may properly come before them.
        </p>

        <p id="a3_4">
            4.  <b>Special Meetings</b>.  It shall be the duty of the President to call a special meeting of the Owners as directed by resolution of the Board of Directors or upon a petition signed by thirty percent (30%) of the Owners and having been presented to the Secretary.  The notice of any special meeting shall state the time and place of such meeting and the purpose thereof.  No business shall be transacted at a special meeting except as stated in the notice unless by consent of four-fifths (4/5) of the Owners present, either in person or by proxy.
        </p>

        <p id="a3_5">
            5.  <b>Notice of Meetings</b>.  It shall be the duty of the Secretary to mail a notice of each annual or special meeting, stating the purpose thereof as well as the time and place where it is to be held, to each owner, at least five (5) but not more than thirty (30) days prior to such meeting.  The mailing of a notice in the manner provided in this paragraph shall be considered notice served.
        </p>

        <p id="a3_6">
            6.  <b>Adjourned Meeting</b>.  If any meeting of Owners cannot be organized because a quorum has not attended, the Owners who are present, either in person or by proxy, may adjourn the meeting to a time not less than forty-eight (48) hours from the time the original meeting was called.
        </p>

        <p id="a3_7">
            7.  <b>Order of Business</b>.  The order of business at all meetings of the Owners of Lots shall be as follows:
        </p>

        <ol type="a">
            <li>Roll Call</li>
            <li>Proof of notice of meeting or waiver of notice</li>
            <li>Reading of minutes of preceding meeting</li>
            <li>Reports of officers</li>
            <li>Reports of committees</li>
            <li>Election of directors</li>
            <li>Unfinished business</li>
            <li>New business</li>
        </ol>

        <h2 id="a4">
            ARTICLE IV<br>
            BOARD OF DIRECTORS
        </h2>

        <p id="a4_1">
            1.  <b>Number and Qualifications</b>.  Subject to the provisions of Section 4 of this Article, the affairs of this Association shall be governed by a Board of Directors composed of from three (3) to nine (9) persons.  The Board of Directors shall be initially composed of three (3) persons and such membership may be increased by amendment to these By-Laws on vote of the membership or by vote of the Board of Directors.
        </p>

        <p id="a4_2">
            2.  <b>Powers and Duties</b>.  The Board of Directors shall have the powers and duties necessary for the administration of the affairs of the Association and for the operation and maintenance of a first-class residential development. The Board of Directors may do all such acts and things which the Association may do and which are not by these By-Laws or by the Declaration of Covenants, Conditions, and Restrictions of the Walden Point Subdivision directed to be exercised and done by the Owners.
        </p>

        <p id="a4_3">
            3.  <b>Other Powers and Duties</b>.  The Board of Directors shall be empowered and shall have the duties as follows:
        </p>

        <ol class="letters">

            <li id="a4_3_a">
                To administer and enforce the covenants, conditions, restrictions, uses, limitations, obligations, and all other provisions set forth in any declaration of covenants, conditions, and restrictions applicable to the Properties, or any part thereof.
            </li>

            <li id="a4_3_b">
                To establish, make and enforce compliance with such reasonable rules as may be necessary for the operation, use and occupancy of the Common Facilities with the right to amend same from time to time, including such rules and regulations relating to traffic and parking as may be deemed necessary or convenient.  A copy of such rules and regulations shall be delivered to, or mailed to each Member promptly upon the adoption thereof.
            </li>

            <li id="a4_3_c">
                To keep in good order, condition and repair all of the Common Facilities, if any, and all items of personal property of the Association.
            </li>

            <li id="a4_3_d">
                To insure and keep insured all of the insurable Common Facilities in an amount equal to their maximum replacement value. Maximum replacement value shall be determined from time to time by one or more written appraisals.  Further, to obtain and maintain comprehensive liability insurance covering the entire premises in amounts of not less than $100,000.00 per person and $300,000.00 per accident and $50,000.00 property damages.  To insure and keep insured all of the fixtures, equipment and personal property acquired by the Association for the benefit of the Association and its Members and their first mortgagees.  To obtain on behalf of the Association, insurance providing protection against all errors, omissions, or acts of Directors, Officers, employees, and agents for which the Association might be held liable.
            </li>

            <li id="a4_3_e">
                To determine, levy and collect annual assessments of Members and the prorated assessments to be paid by each of the Owners at closing.  To levy and collect special assessments whenever in the opinion of the Board it is necessary to do so in order to meet increased operating or maintenance expenses or costs, or additional capital expenses, or because of emergencies. All special assessments shall be in an itemized statement form and shall set forth the detail of the various expenses for which the assessments are being made.  Additionally, the Association shall be empowered to charge reasonable admission and other fees for the use of the Common Facilities, if any.
            </li>

            <li id="a4_3_f">
                To levy and collect assessments allocated to other Properties based on determinations in accordance with contractual agreements between the Association and Owners of other Properties for other Properties' portion of maintenance and/or security costs of certain Common Facilities.
            </li>

            <li id="a4_3_g">
                To collect delinquent assessments by suit or otherwise and to enjoin or seek damages from an owner as is provided in these By-Laws.
            </li>

            <li id="a4_3_h">
                To prosecute all claims of the Association for damages or otherwise, including the authority to contract for the services of attorneys and determine when and whether to file suit.  Such power shall extend to all causes of action which the Association may have, whether for damages at law or injunctive or other relief.
            </li>

            <li id="a4_3_i">
                To protect and defend the entire premises from loss and damage by suit or otherwise.
            </li>

            <li id="a4_3_j">
                To borrow funds for the purpose of constructing or improving the Common Facilities, if any, and in aid thereof to mortgage said properties and facilities, and to execute such instruments as necessary evidencing such indebtedness, which shall be the several obligation of all of the owners in the same proportion as their interest in the Properties may bear.
            </li>

            <li id="a4_3_k">
                To take such steps as are reasonably necessary to protect the Common Facilities, if any, against foreclosure.
            </li>

            <li id="a4_3_l">
                To suspend the enjoyment rights of any Member for any period during which any assessment remains unpaid, and for any period not to exceed thirty (30) days for any infraction of the published rules and regulations of the Association.
            </li>

            <li id="a4_3_m">
                To enter into contracts within the scope of their duties and powers.
            </li>

            <li id="a4_3_n">
                To establish a bank account for the common treasury and for all separate funds which are required or may be deemed advisable by the Board of Directors.
            </li>

            <li id="a4_3_o">
                To dedicate or transfer all or any part of the Common Facilities, if any, to any public agency, authority, or utility for such purposes and subject to such conditions as may be approved by a two-thirds (2/3) vote of the Members, provided, however, the Board of Directors shall be empowered to accept donations of property to the Association on behalf of the Association which donations prohibit such dedications or transfers or are otherwise conditioned.
            </li>

            <li id="a4_3_p">
                To keep and maintain full and accurate books and records showing all of the receipts, expenses or disbursements and to permit examination thereof at any reasonable time by each of the owners, and to cause to be prepared by a competent certified public accountant an annual financial statement of the Association, copies of which shall be available for examination by the Owners at any reasonable time.
            </li>

            <li id="a4_3_q">
                To meet at least annually.
            </li>

            <li id="a4_3_r">
                To designate the personnel necessary for the maintenance and operation of the Common Facilities, if any.
            </li>

            <li id="a4_3_s">
                In general, to carry on the administration of this Association and to do all of those things, necessary and reasonable, in order to carry out the communal aspect of subdivision ownership.
            </li>

        </ol>

        <p id="a4_4">
            4.  <b>Managing Agent</b>.  The initial Managing Agent shall be Camp Bullis, Ltd. whose address is 14607 San Pedro, Suite 100, San Antonio, Texas, 78232, and the duties of which shall be to perform or cause to be performed all acts and responsibilities of the Board of Directors which may by law and these By-Laws be delegated.
        </p>

        <p id="a4_5">
            5.  <b>Election and Term of Office</b>.  At the first annual meeting of the Association, the term of office of one Director shall be fixed for three (3) years, the term of office of one Director shall be fixed at two (2) years, and the term of office of one Director shall be fixed at one (1) year.  At the expiration of the initial term of office of each respective Director, his or her successor shall be elected to serve a term of three (3) years.  The Directors shall hold office until their successors have been elected and hold their first meeting.  In the event the number of Directors shall be increased by amendment to the By-Laws, the additional positions created shall likewise be classified to provide for staggered terms approximating one-third of each class.
        </p>

        <p id="a4_6">
            6.  <b>Vacancies</b>.  Vacancies on the Board of Directors caused by any reason other than the removal of a Director by a vote of the Association shall be filled by vote of the majority of the remaining Directors, even though they may constitute less than a quorum; and each person so appointed shall be a Director until the expiration of the term for which he was appointed.
        </p>

        <p id="a4_7">
            7.  <b>Removal of Directors</b>.  At any regular or special meeting duly called, any one or more of the Directors may be removed with or without cause by vote of more than fifty percent (50%) of the eligible votes of the Association, and a successor may then and there be elected to fill the vacancy thus created.  Any Director whose removal has been proposed by the owners shall be given an opportunity to be heard at the meeting.
        </p>

        <p id="a4_8">
            8.  <b>Organization Meeting</b>.  The first meeting of a newly elected Board of Directors shall be held within ten (10) days of the election at such place as shall be fixed by the Directors at the meeting at which such Directors were elected; and no notice shall be necessary to the newly elected Directors in order legally to constitute such meeting, provided a majority of the whole Board of Directors shall be present.
        </p>

        <p id="a4_9">
            9.  <b>Regular Meetings</b>.  Regular meetings of the Board of Directors may be held at such time and place as shall be determined, from time to time, by a majority of the Directors; but at least one (1) such meeting shall be held during each fiscal year.  Notice of regular meetings of the Board of Directors shall be given to each Director, personally or by mail, telephone or telegraph, at least three (3) days prior to the day named for such meeting.
        </p>

        <p id="a4_10">
            10.  <b>Special Meetings</b>.  Special meetings of the Board of Directors' may be called by the President on three (3) days notice to each Director, given personally, or by mail, telephone or telegraph, which notice shall state time, place (as hereinabove provided) and purpose of the meeting.
        </p>

        <p id="a4_11">
            11.  <b>Waiver of Notice</b>.  Before or at any meeting of the Board of Directors, any Director may, in writing, waive notice of such meeting and such waiver shall be deemed equivalent to the giving of such notice.  Attendance by a Director at any meeting of the Board shall be a waiver of notice by him at the time and place thereof.  If all the Directors are present at any meeting of the Directors, no notice shall be required and any business may be transacted at such meeting.
        </p>

        <p id="a4_12">
            12.  <b>Board of Directors' Quorum</b>.  A Director may vote by proxy and any person present at a meeting of the Directors holding such a valid proxy shall be considered to be a present Director.  At all meetings of the Board of Directors, a majority of the Directors shall constitute a quorum for the transaction of business; and the acts of the majority of the Directors present at a meeting at which a quorum is present shall be the acts of the Board of Directors.  If, at any meeting of the Board of Directors, there be less than a quorum present, the majority of those present may adjourn the meeting from time to time.  At any such reconvention of an adjourned meeting, any business which might have been transacted at the meeting subject to the requirement of a quorum being present as originally called, may be transacted without further notice.
        </p>

        <p id="a4_13">
            13.  <b>Fidelity Bonds</b>.  The Board of Directors may require that all officers and employees of the Association handling or responsible for Association funds shall furnish adequate fidelity bonds.  The premiums on such bonds shall be paid by the Association.
        </p>

        <h2 id="a5">
            ARTICLE V<br>
            OFFICERS
        </h2>

        <p id="a5_1">
            1.  <b>Designation</b>.  The officers of the Association shall be a President, Secretary and Treasurer, all of whom shall be elected by and from the Board of Directors.  The Board of Directors may appoint or hire such assistant secretaries or assistant treasurers as it deems necessary to conduct the business of the Association.
        </p>

        <p id="a5_2">
            2.  <b>Election of Officers</b>.  The officers of the Association shall be elected annually by the Board of Directors at the organization meeting of each new Board and shall hold office at the pleasure of the Board.
        </p>

        <p id="a5_3">
            3.  <b>Removal of Officers</b>.  Upon an affirmative vote of a majority of the members of the Board of Directors, any officer may be removed, either with or without cause, and his successor elected at any regular meeting of the Board of Directors, or at any special meeting of the Board called for such purpose.
        </p>

        <p id="a5_4">
            4.  <b>President</b>.  The President shall be the chief executive officer of the Association.  He shall preside at all meetings of the Association and of the Board of Directors.  He shall have all the general powers and duties which are usually vested in the office of president of an association, including but not limited to the power to appoint committees from among the Owners from time to time as he may in his discretion decide is appropriate to assist in the conduct of the affairs of the Association.
        </p>

        <p id="a5_5">
            5.  <b>Secretary</b>.  The Secretary shall keep minutes of all meetings of the Board of Directors and minutes of all meetings of the Association; he or she shall have charge of such books and papers as the Board of Directors may direct; and he or she shall, in general, perform all duties incident to the office of Secretary.
        </p>

        <p>
            The Secretary shall compile and keep up to date at the principal office of the Association a complete list of Members and their last known addresses as shown on the records of the Association.  Such list shall also show opposite each Member's name the number or other appropriate designation of the Lot(s) owned by such Member.  Such list shall be open to inspection by Members and other persons lawfully entitled to inspect the same at reasonable times during regular business hours.
        </p>

        <p id="a5_6">
            6.  <b>Treasurer</b>.  The Treasurer shall have responsibility for Association funds and shall be responsible for keeping full and accurate accounts of all receipts and disbursements in books belonging to the Association.  He shall be responsible for the deposit of all monies and other valuable effects in the name, and to the credit of the Association in such depositories as may from time to time be designated by the Board of Directors.
        </p>

        <h2 id="a6">
            ARTICLE VI<br>
            INDEMNIFICATION OF OFFICERS AND MANAGERS
        </h2>

        <p>
            The Association shall indemnify every Director, manager, or officer, his heirs, executors, administrators, personal representatives, successors, and assigns against all loss, costs and expense including counsel fees, to the fullest extent permitted by, and subject to the required findings and procedures of Article 1396-2.22A, Vernon's Texas Revised Civil Statutes Annotated, as it exists on the date of Incorporation of the Association.  The foregoing rights shall not be exclusive of other rights to which such Director, manager, or officer may be entitled.  The Association shall be entitled to procure insurance to cover all or a portion of the Association's obligation of indemnification.
        </p>

        <p>
            Nothing contained in this Article VI shall be deemed to obligate the Association to indemnify any Member or Owner of a Lot, who is or has been a Director, manager, or officer of the Association, with respect to any duties or obligations assumed or liabilities incurred by him under and by virtue of any declaration of covenants, conditions, and restrictions related to the Properties, as a Member or Owner of a Lot covered thereby.
        </p>

        <h2 id="a7">
            ARTICLE VII<br>
            OBLIGATIONS OF OWNER
        </h2>

        <p id="a7_1">
            1.  <b>Assessments</b>.  All Owners shall be obligated to pay to the Association:
        </p>

        <ol type=letter>
            <li>
                Annual assessments or charges; and
            </li>

            <li>
                Special assessments for capital improvements, on improved lots only; such assessments to be fixed, established, and collected from time to time as hereinafter provided.
            </li>
        </ol>

        <p>
            The annual and special assessments, together with such interest thereon and costs of collection thereof as are hereinafter provided, shall be a charge on each Lot and shall be a continuing lien upon each Lot, against which such interest thereon and cost of collection thereof shall also be the personal obligation of the person who was the owner of such Lot at the time the obligation accrued.
        </p>

        <p id="a7_2">
            2.  <b>Purpose of Assessments</b>.  The assessments levied by the Association shall be used for the purpose of administrative expenses of the Association and for promoting the recreation, health, safety, and welfare of the Members, and in particular, for the improvement, maintenance and operation of Common Facilities, if any, devoted to this purpose and related to the use and enjoyment of the Properties by the Members including, specifically, maintenance of common area landscaping, common area sprinkler systems, common area fences, walls, and monuments, swimming pools, playgrounds, tennis facilities and such other property, personal and real, that the Association may acquire or contract to maintain.
        </p>

        <p id="a7_3">
            3.  <b>Basis and Maximum of Annual Assessments</b>.  The annual assessment for unimproved Lots shall be one-third (1/3) the annual assessment for improved Lots.  The annual assessment for both improved and unimproved Lots shall be determined by the Board of Directors in the manner provided for herein after determination of current maintenance costs and anticipated needs of the Association during the year for which the assessment is being made.  From and after January 1, 1995, the maximum annual assessment for improved Lots and the maximum annual assessment for unimproved Lots may be increased as provided in Section 5.  A Lot shall be deemed to be an "improved Lot" when construction of a Living Unit thereon is completed and closing of a sale thereof has taken place, or when the Living Unit is occupied by the Owner, whichever first occurs. All other Lots shall be "unimproved Lots."
        </p>

        <p id="a7_4">
            4.  <b>Special Assessments for Capital Improvements</b>.  In addition to the annual assessments provided for in Paragraph 3, the Association may levy, in any assessment year, a special assessment on improved Lots only applicable to that year, only for the purpose of defraying, in whole or in part, the cost of any construction, reconstruction, repair or replacement of a capital improvement on or which is a part of the Common Facilities, if any, or the acquisition of property to become part of the Common Facilities, if any, provided that any such assessment shall have the assent of two-thirds (2/3) of the votes of the Improved Lot owners voting in person or by proxy at a meeting duly called for this purpose, written notice of which shall be sent to all improved Lot Owners at least thirty (30) days in advance and shall set forth the purpose of the meeting.
        </p>

        <p id="a7_5">
            5.  <b>Change in Basis and Maximum of Annual Assessments</b>.  For all annual assessments accruing after January 1, 1996, the maximum annual assessment may be adjusted by majority vote of the Board of Directors but shall not be increased by more than ten percent (10%) above that of the previous year without a vote of the membership.  Any increase in the maximum annual assessment of more than ten percent (10%) above that of the previous year shall require approval of two-thirds (2/3) vote of each class of Members voting at a meeting duly called for such purpose.
        </p>

        <p id="a7_6">
            6.  <b>Quorum for Actions Authorized Under Sections 4 and 5</b>.  The quorum required for any action by Members authorized by Sections 4 and 5 hereof shall be as follows:
        </p>

        <p class="tab">
            At the first meeting called, as provided in Sections 4 and 5 hereof, the presence at the meeting of Members, or of proxies, entitled to cast sixty (60) percent of all the votes of each class of membership shall constitute a quorum.  If the required quorum is not forthcoming at any meeting, another meeting may be called, subject to the notice requirement set forth in Sections 4 and 5, and the required quorum at any such subsequent meeting shall be one-half (1/2) of the required quorum at the preceding meeting, provided that such reduced quorum requirement shall not be applicable to any such subsequent meeting held more than sixty (60) days following the preceding meeting.
        </p>

        <p id="a7_7">
            7.  <b>Date of Commencement of Annual Assessments: Due Dates</b>.  The annual assessments provided for herein shall commence as to all Lots as of the date that the Association holds its initial Board of Directors meeting and approves the By-Laws of the Association. The initial assessment period shall be the remaining portion of the particular calendar year in which the aforesaid notice is given to the Association, commencing with such notice date.  Beginning January 1994, the assessments for each calendar year shall become due and payable and shall be collected yearly in advance or as determined by the Association.  The amount of the annual assessment which may be levied on a Lot for the balance remaining in the first year of assessment shall be an amount which bears the same relationship to the annual assessment established by the Board of Directors as the remaining number of months in that year bear to twelve.  When a Lot becomes an improved Lot after the annual assessment for it as an unimproved Lot has been paid, there shall be payable, as of the first day of the month following the month when it becomes an improved Lot, a sum equal to the difference between the annual assessment for unimproved Lots and the annual assessment for improved Lots prorated over the balance of the year then remaining.  The due date of any special assessment under Section 4 hereof shall be fixed in the resolution authorizing such assessment.
        </p>

        <p id="a7_8">
            8.  <b>Duties of the Board of Directors</b>.  Not later than November of each year, the Board of Directors of the Association shall fix the amount of the annual assessment against each Lot for the following year and shall, at that time, prepare a roster of the Lots and assessments applicable thereto which shall be kept in the office of the Association and shall be open to inspection by any Owner.  Written notice of the assessment shall thereupon be sent to every Owner subject thereto.  The Association shall, upon demand at any time, furnish to any Owner liable for said assessment a certificate in writing signed by an officer of the Association, setting forth whether said assessment has been paid.  Such certificate shall be conclusive evidence of payment of any assessment therein stated to have been paid.  A Member shall be deemed to be in good standing and entitled to vote at any annual or special meeting of Members, within the meaning of these By-Laws, if and only if he shall have fully paid all assessments made or levied against him and the Lot or Lots owned by him.
        </p>

        <p id="a7_9">
            9.  <b>Effect of Non-Payment of Assessments; The Liens; Remedies of the Association</b>.  If the assessments are not paid on the date when due (being the dates specified in Section 7 hereof) then such assessment shall become delinquent and, together with interest thereon (as herein provided) and cost of collection thereof, shall become a continuing lien on the property which shall bind such property in the hands of the then Owner, his heirs, devisees, personal representatives, successors, and assigns.  All past due and unpaid assessments shall bear interest at the rate of eighteen percent per annum from the date due until the date paid.  The Association shall be entitled to record a Notice of Lien or notice of unpaid assessment in the real property records for any assessment remaining unpaid more than 30 days after the due date thereof.  The Association shall be entitled to collect from each Owner the costs of the Association for the collection of any past due assessments or charges, including a reasonable fee for the preparation, recordation or release of any notice, and reasonable attorney's fees incurred in the collection of the account.  If the assessment is not paid within one (1) month after the due date, the Association may bring an action at law against the owner to pay the same or to foreclose the lien against the co Lot, and there shall be added to the amount of such assessment all reasonable expenses of collection including reasonable attorney's fees and costs of suit.
        </p>

        <p id="a7_10">
            10.  <b>Subordination of the Lien to Mortgages</b>.  The lien of the assessments provided for herein shall be subordinate to the lien of any mortgage or mortgages now or hereafter placed upon the Lots subject to assessment, provided, however, that such subordination shall apply only to the assessments which have become due and payable prior to the sale or transfer of such Lot pursuant to a decree of foreclosure, or a conveyance expressly made in lieu of foreclosure.  Such sale or transfer shall not relieve such Lot from liability for any assessments thereafter becoming due, nor from the lien of any such subsequent assessment nor shall this subordination relieve any purchaser of a Lot which has not been the subject of foreclosure or conveyance in lieu of foreclosure from liability for assessments arising prior acceptance of a deed to such Lot.
        </p>

        <p id="a7_11">
            11.  <b>Exempt Property</b>.  The charges and liens created herein shall apply only to the Lots, and the remainder of the Properties shall not be subject thereto.
        </p>

        <p id="a7_13">
            12. <b>General</b>.
        </p>

        <ol class="letters">
            <li>
                Each Owner shall comply strictly with the provisions of the Declaration of Covenants, Conditions, and Restrictions of the Walden Point Subdivision.  All Owners shall promptly and completely comply with each of the rules and regulations herein contained or hereafter properly adopted.
            </li>

            <li>
                Each Owner may use the Common Facilities, if any, and the limited common elements in accordance with the purpose for which they were intended without hindering or encroaching upon the lawful rights of the other Owners.
            </li>

            <li>
                The Common Facilities, if any, are intended for the benefit of the Members, for the beautification of the development, and for providing privacy to the residents thereof through landscaping and such other means as shall be deemed appropriate.  No part of the Common Facilities, if any, shall be obstructed so as to interfere with its use for the purposes hereinabove recited nor appropriated for individual use to the exclusion of other Members, nor shall any part of the Common Facilities be used for general storage purposes after the completion of the construction on Lots by the developer, except for a maintenance storage room, nor anything done thereon in any manner which shall increase the rate of hazard and liability insurance covering said area and improvements situated thereon.
            </li>

            <li>
                No resident of the Properties shall post any advertisements, signs, or posters, of any kind on the Properties except as authorized by the Association.
            </li>
        </ol>

        <h2 id="a8">ARTICLE VIII</h2>

        <p>
            This Association is not organized for profit.  No Member, Director, or person from whom the Association may receive any property or funds, shall receive or shall be lawfully entitled to receive any pecuniary profit from the operation thereof, and in no event shall any part of the funds or assets of the Association be paid as salary or compensation to, or distributed to, or inure to the benefit of any member of the Board of Directors; provided, however, always: (1) that reasonable compensation may be paid to any Member while acting as an agent or employee of the Association for services rendered in effecting one or more of the purposes of the Association, and (2) that any member of the Board of Directors may, from time to time, be reimbursed for his actual and reasonable expenses incurred in connection with the administration of the affairs of the en Association. 
        </p>

        <h2 id="a9">ARTICLE IX</h2>

        <p id="a9_1">
            1.  These By-Laws may be amended at a regular or special meeting of the Members by vote of a majority of a quorum of the members present in person or acting by proxy.
        </p>

        <p id="a9_2">
            2.  In the event of any conflict between the terms of the Articles of Incorporation of the Association ("Articles") and these By-Laws, the terms of the Articles shall govern and control.  In the event of conflict between the provisions of any Declaration of Covenants, Conditions and Restrictions for property subject to the jurisdiction of the Association ("Declaration") and these By-Laws, the provisions of the Declaration shall govern and control.
        </p>

        <h2 id="a10">ARTICLE X</h2>

        <p>
            The registered office and the principal office of the transaction of business of this Association shall be 14607 San Pedro, Suite 100, San Antonio, Texas, 78232, and the Registered Agent shall be Miles Prestemon at the same address.
        </p>

        <h2 id="a11">ARTICLE XI</h2>

        <p>
            The persons who shall be authorized to execute any and all instruments of conveyance or encumbrances, including promissory notes, shall be the President and the Secretary of the Association, either or both of whom may sign, with or without the affixing of the Association's seal.
        </p>

        <p>
            IN WITNESS WHEREOF, the undersigned, being all the Directors of Walden Point Homeowners Association, Inc. have hereunto set our hands effective the 15th day of March, 1995.
        </p>

        <pre class="tab">
            Diana Farris
            Miles Prestemon
            Gordon W. Best
        </pre>
    </div>

{% endblock %}
