{% extends "doc/layout.html" %}

{% block title %}
DCCR
{% endblock %}

{% block content %}


    <h1 id="title">
        DECLARATION OF COVENANTS, CONDITIONS, AND RESTRICTIONS (DCCR)<br>
        for<br>
        WALDEN POINT, A PLANNED UNIT DEVELOPMENT<br>
        also known as<br>
        WALDEN MEADOWS GARDEN HOMES UNIT-2
    </h1>

    <div id='toc'>
        <h1><a href='#title'>Table of Contents</a></h1>
        <a href="#a1">Recitals</a>
        <a href="#a2">Definitions</a>
        <a href="#a3">Association and Assessments</a>
        <a href="#a4">Architectural Control Committee</a>
        <a href="#a5">Land Use Regulations</a>
        <a href="#a6">Easements</a>
        <a href="#a7">Amendments</a>
        <a href="#a8">Enforcement</a>
        <a href="#a9">Miscellaneous</a>
    </div>


    <div id="content">

        <p>
            This is a comprehensive legal document which provides for the imposition of mandatory homeowner assessments.  This declaration is binding upon all future owners in this subdivision.
        </p>

        <h2 id="a1">
            Article 1<br>
            RECITALS
        </h2>

        <p id="a1_1">
            1. Declarant desire to create a residential community with designated "Lots" and "Common Facilities" (as those terms are defined herein) for the benefit of the present and future owners of said Lots on the following described real property owned by Declarant, to wit:
        </p>

        <p class="tab">
            WALDEN POINT, PLANNED UNIT DEVELOPMENT, in Bexar County, Texas, as shown on plat thereof recorded as "Walden Meadows Garden homes Unit 2" in Volume 9531, Page 8 of the Deed and Plat Records of Bexar County, Texas, and on the grading plan attached hereto as Exhibit A (said property being sometimes hereafter referred to as "the Land");
        </p>

        <p id="a1_2">
            2. Declarant has subdivided the above-described real property as shown by the map and plat of such subdivision, which map and plat has heretofore been filed as the true and correct survey, map, and plat thereof, and which subdivision shall be effectively known as WALDEN POINT, PLANNED UNIT DEVELOPMENT.
        </p>

        <p id="a1_3">
            3. Declarant has deemed it desirable for the efficient preservation of the values and amenities in said community, and in the subdivision known as WALDEN POINT, PLANNED UNIT DEVELOPMENT, to create an agency to which should be delegated and assigned the powers of maintaining and administering the Common Facilities and administering and enforcing the covenants and restrictions and collecting and disbursing the assessments and charges hereinafter created; and
        </p>

        <p id="a1_4">
            4. Declarant desires to ensure the preservation of the values and amenities in said community and for the maintenance of said Common Facilities, and to this end desires to further subject the above-described real property, together with such additions as may hereafter be made thereto as herein provided, to the covenants, restrictions, easements, charges, and liens hereinafter set forth, each and all of which is and are for the benefit of said property and each of the owners thereof; and
        </p>

        <p id="a1_5">
            5. WALDEN POINT HOMEOWNERS ASSOCIATION, INC. has been incorporated under the laws of the State of Texas as a non-profit corporation for the purposes of exercising the functions aforesaid as to the Land, and such other real property as may be annexed thereto and become subject to the jurisdiction of said Association; and Declarant desires to conform the restrictions on use of the herein described real property as necessary for the purpose of subjecting said property and the Owners thereof to the jurisdictions of said Walden Point Homeowners Association, Inc.
        </p>

        <p id="a1_6">
            6. Declarant declares that the property above described as constituting WALDEN POINT, PLANNED UNIT DEVELOPMENT shall be hereafter held, transferred, sold, conveyed, occupied, and enjoyed subject to the following covenants, conditions, restrictions, easements, charges and liens hereinafter set forth, and shall hereafter be subject to the jurisdiction and assessments of the Walden Point Homeowners Association, Inc.
        </p>

        <p id="a1_7">
            7.  <b>Planned Unit Development</b>.  The Subdivision has been designated as a Planned Unit Development pursuant to Chapter 35 of the City Code of the City of San Antonio, Texas.  The Subdivision Plat creates for use as such, subject to the limitations set forth herein, certain private streets and easements shown thereon, and such Subdivision Plat further establishes certain dedications, limitations, restrictions and reservations and restrictions applicable to the Existing Property.  All dedications, limitations, restrictions, and reservations shown on the Subdivision Plat are incorporated herein and made a part hereof as if fully set forth herein, and shall be construed as being adopted in each and every contract, deed or conveyance executed or to be executed by or on behalf of Declarant, conveying said property or any part thereof.
        </p>

        <h2 id="a2">
            Article 2<br>
            DEFINITIONS
        </h2>

        <p>
            The following words when used in this Declaration or any Supplemental Declaration (unless the context shall prohibit) shall have the following meanings:
        </p>

        <ol class="letters">
            <li id="a2_a">
                "ACC," "Committee" or Architectural Control Committee" shall mean the Architectural Control Committee established pursuant to this Declaration.
            </li>

            <li id="a2_b">
                "Articles" shall mean the Articles of Incorporation of Walden Point Home Owners Association, Inc., as they may, from time to time, be amended.
            </li>

            <li id="a2_c">
                "Association" shall mean and refer to Walden Point Homeowners Association, Inc., a Texas non-profit corporation, its successors and assigns as provided for herein.
            </li>

            <li id="a2_d">
                "Board of Directors" shall mean and refer to the governing body of the Association, the election and procedures of which shall be as set forth in the Articles of Incorporation and By-Laws of the Association.
            </li>

            <li id="a2_e">
                "Builder Member" shall mean such builders approved by Declarant for construction within the subdivision and who own one or more Lots for construction of a residence for resale to others.
            </li>

            <li id="a2_f">
                "Bylaws" shall mean the Bylaws of Walden Point Homeowners Association, Inc., as they may, from time to time, be amended.
            </li>

            <li id="a2_g">
                "Common Facilities" shall mean and refer to all property leased, owned, or maintained by the Association for the use and benefit of the Members of the Association.  By way of illustration, Common Facilities may include but not necessarily be limited to, the following: private streets, signs, parkways, medians, islands, landscaping, walls, bridges, safety lanes, trails, drainage easements, and other similar or appurtenant improvements.
            </li>

            <li id="a2_h">
                "Declarant" shall mean and refer to CAMP BULLIS, LTD., its successors or assigns, including any bulk transferee of Lots unless such rights as successor Declarant are negated in writing in the recorded instrument of conveyance.
            </li>

            <li id="a2_i">
                "Living Unit" shall mean and refer to a single family residence and its attached or detached garage situated upon a Lot.
            </li>

            <li id="a2_j">
                "Lot" shall mean and refer to any of the plots of land numbered Lots 1-13 inclusive, Walden Point Planned Unit Development, also known as Walden Meadows Garden Homes Unit-2, as shown on plat recorded in volume 9531, Page 8, Deed and Plat Records of Bexar County, Texas.
            </li>

            <li id="a2_k">
                "Master Association" shall mean and refer to the Crownridge of Texas Owners Association, Inc., a Texas non-profit corporation.
            </li>

            <li id="a2_l">
                "Member" shall mean and refer to all those Owners who are members of the Association as provided herein.
            </li>

            <li id="a2_m">
                "Owner" shall mean and refer to the record owner, whether one or more persons or entities, of the <dfn title="an estate of land, especially one held on condition of feudal service">fee</dfn> simple title to any Lot or portion of a Lot within the Existing Property, including contract sellers but excluding <dfn title="{{terms.lender}}">those having interest merely as security for the performance of an obligation</dfn>.
            </li>

            <li id="a2_n">
                "Property" shall mean and refer to the above described properties known as Walden Point Planned Unit Development.
            </li>

            <li id="a2_o">
                "Additional Property" shall mean and refer to property which is added to the Property pursuant to <a href="#a7">Article 7</a> of this Declaration or any Amended or Supplemental Declaration.
            </li>

            <li id="a2_p">
                "Recreation Association" shall mean and refer to the Sierra Heights Homeowners Association, Inc., a Texas non-profit corporation.
            </li>

            <li id="a2_q">
                "Subdivision Plat" shall mean and refer to the map or plat of WALDEN MEADOWS GARDEN HOMES UNIT 2, also known as WALDEN POINT, filed for record in Volume 9531, Page 8, Deed and Plat Records of Bexar County, Texas, and any amendment thereof upon filing some same for record in the Deed and Plat Records of Bexar County, Texas.
            </li>
        </ol>

        <h2 id="a3">
            Article 3<br>
            HOMEOWNER ASSOCIATION AND ASSESSMENTS
        </h2>

        <p id="a3_1">
            1. <b>MEMBERSHIP IN THE ASSOCIATION</b>.  Every person or entity who is a record Owner of a <dfn title="an estate of land, especially one held on condition of feudal service">fee</dfn> or undivided interest in any Lot which is subject to the jurisdiction of and to assessment by the Association shall be a member of the Walden Point Homeowners Association, provided, however, that <dfn title="{{terms.lender}}">any person or entity holding an interest in any such Lot or Lots merely as security for the performance of an obligation</dfn>, shall not be a member.
        </p>

        <p id="a3_2">
            2. <b>VOTING RIGHTS</b>. The association shall have two classes of voting membership:
        </p>
        <div class="tab">

            <p>
                <b>Class A</b>. Class A Members shall be all those owners as defined in <a href="#a2_l">Article 2(l)</a> above with the exception of Declarant.  Class A Members shall be entitled to one vote for each Lot in which they hold the interest required for membership by <a href="#a2_l">Article 2(l)</a>.  When more than one person holds such interest or interests in any Lot, all such persons shall be members, and the vote for such Lot shall be exercised as they among themselves determine, but in no event shall more than one vote be cast with respect to any such Lot.
            </p>

            <p>
                <b>Class B</b>.  The Class B Members shall be the Declarant and Builder Members.  The Class B Members shall be entitled to three votes for each Lot in which they hold the interest required by <a href="#a2_e">Article 2(e)</a> above, provided that the Class B membership shall cease and become converted to Class A membership on the happening of the following events, whichever occurs earlier:
            </p>

            <ol class="letters">
                <li>
                    when the total votes outstanding in the Class A membership equal the total votes outstanding in the Class B membership; or
                </li>

                <li>
                    On January 1, 2015
                </li>
            </ol>

        </div>

        <p>
            From and after the happening of these events, whichever occurs earlier, the Class B member shall be deemed to be a Class A member entitled to one vote for each Lot in which it holds the interest required for membership.
        </p>


        <p id="a3_3">
            3.  <b>CREATION OF THE LIEN AND PERSONAL OBLIGATION OF ASSESSMENTS</b>.  Declarant, for each Lot owned by it within the Properties, hereby covenants, and each Owner of any Lot, by acceptance of a deed therefor, whether or not it shall be so expressed in any such deed or other conveyance, shall be deemed to covenant and agree to pay to the Association: (1) annual assessments or charges; and (2) special assessments for capital improvement, such assessments to be fixed, established, and collected from time to time as hereinafter provided.  The annual and special assessments, together with such interest thereon and costs of collection thereof as are hereinafter provided, shall be in a charge on the land and shall be a continuing lien upon the property against which each such assessment is made.  Each such assessment, together with such interest thereon and cost of collection thereof as hereinafter provided, and shall also be the personal obligation of the person who was the Owner of such property at the time the obligation accrued.
        </p>

        <p id="a3_4">
            4.  <b>PURPOSE OF ASSESSMENTS</b>.  The assessments levied by the Association shall be used for the purpose of promoting the recreation, health, safety, and welfare of the Members, and in particular, for the improvement, maintenance and operation of the properties, services and facilities devoted to this purpose and related to the use and enjoyment of the Property by the Members.
        </p>

        <p id="a3_5">
            5.  <b>BASIS AND MAXIMUM OF ANNUAL ASSESSMENTS</b>.  The annual assessment for both improved and unimproved Lots shall be determined by the Board of Directors in the manner provided for herein after determination of current maintenance costs and anticipated needs of the Association during the year for which the assessment is being made.  The initial annual assessment for an improved Lot shall be prorated for the remainder of the calendar year in which begun if begun on other than January 1.  The annual assessment for unimproved lots shall be one-third (1/3) of the annual assessments for improved lots.  The maximum annual assessment for improved Lots and annual assessments for unimproved Lots may be increased by vote of the Members as provided hereinbelow.  A Lot shall be deemed to be an "improved Lot" when construction of a Living Unit hereon is completed and Closing of a sale thereof has taken place, or when the Living Unit is occupied as residence, whichever first occurs.  As provided in <a href="#a5_15">Article 5(15)</a>, the Board of Directors shall have the power to adjust assessments on consolidated Lots.
        </p>

        <p id="a3_6">
            6.  <b>SPECIAL ASSESSMENTS FOR CAPITAL IMPROVEMENTS</b>.  In addition to the annual assessments provided for above, the Association may levy, in any assessment year, a Special Assessment on improved Lots only, applicable to that year only, for the purpose of defraying, in whole or in part, the cost of any construction, reconstruction, repair or replacement of a capital improvement on or which is a part of the Common Facilities, provided that any such assessment shall have the assent of two thirds (2/3) of the votes of the improved Lot owners who are voting in person or by proxy at a meeting duly called for this purpose, written notice of which shall be sent to all improved Lot owners at least thirty (30) days in advance setting forth the purpose of the meeting.
        </p>

        <p id="a3_7">
            7.  <b>CHANGE IN BASIS AND MAXIMUM OF ANNUAL ASSESSMENTS</b>.  Subject to the limitations stated above, the annual assessment may be adjusted by majority vote of the Board of Directors but shall not be increased by more then ten percent (10%) above that of the previous year without a vote of the membership.  Any increase in the annual assessment of more than ten percent (10%) above that of a previous year shall require approval of two-thirds (2/3) vote of each class of Members voting at a meeting duly called for that purpose.
        </p>

        <p id="a3_8">
            8.  <b>QUORUM FOR ANY ACTION AUTHORIZED UNDER SECTIONS 6 AND 7</b>.  The quorum required for any action authorized hereinabove shall be as follows:  At the first meeting called as provided above, the presence at the meeting of the Members or proxies entitled to cast sixty percent (60%) of all the votes of each class of membership shall constitute a quorum.  If the required quorum is not forthcoming at any meeting, another meeting may be called, subject to the notice requirements set forth above, and the required quorum at any such subsequent meeting shall be one-half (1/2) of the required quorum at the preceding meeting, provided that such reduced quorum requirement shall not be applicable to any such subsequent meeting held more than sixty (60) days following the preceding meeting.
        </p>

        <p id="a3_9">
            9.  <b>DATE OF COMMENCEMENT OF ANNUAL ASSESSMENTS: DUE DATE</b>.  The annual assessments provided for herein shall commence as to all Lots on such date as may be determined by the Board of Directors of the Association.  The assessments for each calendar year shall become due and payable and shall be collected as the Board of Directors of the Association shall determine.  The amount of the annual assessment shall be an amount which bears the same relationship to the annual assessment established by the Board of Directors as the remaining number of months in that year bear to twelve.  When a Lot becomes an improved Lot, there shall be payable as of the first day of the month following the month when it becomes an improved Lot a sum equal to the difference between the annual assessment for improved Lots and the annual assessment for improved Lots, prorated over the balance of the year then remaining.  The due date of any special assessment under the provisions hereof shall be fixed in the resolution authorizing such assessment.
        </p>

        <p id="a3_10">
            10.  <b>DUTIES OF THE BOARD OF DIRECTORS</b>.  In December of each year the Board of Directors of the Association shall fix the amount of the annual assessment against each Lot for the following year and shall at that time prepare a roster of the Lots and assessments applicable thereto which shall be kept in the office of the Association and shall be open to inspection by any Owner on reasonable notice.  Written notice of the assessment shall thereupon be sent to every Owner subject thereto.  The Association shall upon demand at any time, furnish to any Owner liable for said assessment, a certificate in writing, signed by an officer of the Association, setting forth whether said assessment has been paid.  Such certificate shall be conclusive evidence of payment of any assessment therein stated to have been paid.
        </p>

        <p id="a3_11">
            11.  <b>EFFECT OF NON-PAYMENT OF ASSESSMENTS: THE LIEN; REMEDIES OF THE ASSOCIATION</b>.  All past due and unpaid assessments shall bear interest at the rate of eighteen percent per annum or the maximum interest allowed by law from the date due until the date paid.  The association shall be entitled to record a Notice of Lien or notice of Unpaid assessment in the real property records for any assessment remaining unpaid more than thirty (30) days after the due date thereof.  The Association shall be entitled to collect from each Owner the costs to the Association for the collection of any past due assessments or charges, including a reasonable fee for the preparation, recordation or release of any notice.  If the Association retains an attorney to assist in the collection of an unpaid assessment, then that member's inspection of the attorney's books and records shall not be a "proper purpose" pursuant to the Texas Non-Profit Corporation Act.
        </p>

        <p id="a3_12">
            12.  <b>SUBORDINATION OF THE LIEN TO MORTGAGES</b>.  The liens described in <a href="#a3_3">Article 3.3</a> herein and the superior title herein reserved shall be deemed subordinate to a first lien or other liens of any bank, insurance company, savings and loan association, university, pension and profit sharing trusts or plans, or other bona fide, third party lender which may have heretofore or may hereafter lend money in good faith for the purchase or improvement of any Lot and any renewal, extension, rearrangement or refinancing thereof.  Each such mortgagee of a mortgage encumbering a Lot who obtains title to such Lot pursuant to the remedies provided in the mortgage or by judicial or non-judicial foreclosure, shall take title to the Lot free and clear of any claims for unpaid assessments or charges against such Lot which accrued prior to the time such holder acquired title to such Lot.  No such sale or transfer shall relieve such holder acquiring title to a Lot from liability for any assessments thereafter becoming due or from the lien thereof.  Any other sale or transfer of a Lot shall not affect the Association's lien for assessments.  The Association shall use its best efforts to give each such mortgagee sixty (60) days advance notice of the Association's proposed foreclosure of the lien described in <a href="#a3_3">Article 3.3</a> hereof, which notice shall be sent to the nearest office of such mortgagee by prepaid United States registered or certified mail, return receipt requested, and shall contain a statement of delinquent assessments upon which the proposed action is based; provided, however, the Association's failure to give such notice shall not impair or invalidate any foreclosure conducted by the Association pursuant to the provisions of <a href="#a3">Article 3</a> hereof.
        </p>

        <p id="a3_13">
            13.  <b>TITLE TO COMMON FACILITIES</b>.  The Declarant may retain the legal title to the Common Facilities until such time as it has completed improvements thereon and until such time as, in the opinion of the Declarant, the Association is able to maintain the same, but notwithstanding any provision herein, the Declarant hereby covenants, for itself, its successors and assigns, that it will convey the Common Facilities to the Association, not later than two years after the filing of record of this Declaration.
        </p>

        <p id="a3_14">
            14.  <b>MEMBERS' EASEMENT OF ENJOYMENT</b>.  Subject to the provisions of Sections <a href="#a3_15">15</a> and <a href="#a3_16">16</a> of this Article, every Member shall have a common right and easement of enjoyment in and to the Common Facilities and such right and easement shall be appurtenant to and shall pass with the title to every Lot.
        </p>

        <p id="a3_15">
            15.  <b>EXTENT OF MEMBERS' EASEMENTS</b>.  The rights and easements of enjoyment created hereby shall be subject to the following:
        </p>

        <ol class="letters">
            <li>
                the rights and easements existing or hereafter created in favor of others as provided for in the Subdivision Plat.
            </li>

            <li>
                the rights of the Association, once it has obtained legal title to the Common Facilities, as provided in Section 13 above, to do the following:
            </li>

            <ol class="numbers">
                <li>
                    to borrow money for the purpose of constructing or improving the Common Facilities and, in aid thereof, to mortgage said properties and facilities, in accordance with the Articles of Incorporation and Bylaws of the Association;
                </li>

                <li>
                    to take such steps as are reasonably necessary to protect the above-described properties and facilities against foreclosures;
                </li>

                <li>
                    to enter into one or more contracts or agreements for the maintenance or improvement of the Common Facilities;
                </li>

                <li>
                    to suspend the enjoyment rights of any Member for any period during which any assessment remains unpaid, and for any period not to exceed thirty (30) days for any infraction of the published rules and regulations of the Association or of this Declaration;
                </li>

                <li>
                    to assess and collect the assessments provided for herein or elsewhere and to charge reasonable admission and other fees for the use of the Common Facilities; and
                </li>

                <li>
                    to dedicate or transfer all or any part of the Common Facilities to any public agency, authority, or utility for such purposes and subject to such conditions as may be approved by a two-thirds (2/3) vote of the Members not voting by class.
                </li>
            </ol>
        </ol>


        <p id="a3_16">
            16.  <b>USE RESTRICTIONS AFFECTING COMMON FACILITIES AND ADJUNCT PROPERTIES</b>.  The right of use of the Common Facilities shall be strictly subject to the following:
        </p>

        <ol class="letters">
            <li id="a3_16_a">
                No motorcycles motorbikes or other motorized vehicles (except those used for maintenance, repairs and upkeep of the Common Facilities) shall be permitted on any part of the drainage easements, sidewalks or other Common Facilities owned by the Association or Declarant.  The drainage easements shall be utilized only for walking, jogging, bicycle riding and such other uses as may be approved by the Board of Directors of the Association and the Association may prohibit or limit the uses of any portion of the Common Facilities.
            </li>

            <li id="a3_16_b">
                No planting or gardening by Owners shall be permitted within the Common Facilities and no fences, hedges or walls or other obstructions shall be erected or maintained upon or over the Common Facilities, except such as are installed by Declarant in connection with the construction of the initial improvements thereon, or such as are subsequently approved by the Board of Directors of the Association.
            </li>

            <li id="a3_16_c">
                No building or other structure of any time, including recreational structures, shall be built, placed or maintained on the Common Facilities except those constructed or placed, or permitted to be constructed or placed, by Declarant or the Board of Directors of the Association.
            </li>

            <li id="a3_16_d">
                The Board of Directors is empowered to establish additional use regulations relating to the Common Facilities as it may from time-to-time deem necessary to ensure the preservation and appearance of the Subdivision as a first class residential neighborhood and such rules and regulations shall, when promulgated, be in all respects binding on and enforceable against all Lot Owners, provided, however, no such additional rules or regulations shall in any manner revoke or relax any of the restrictions of use set forth in this section.
            </li>
        </ol>

        <h2 id="a4">
            Article 4<br>
            ARCHITECTURAL CONTROL COMMITTEE
        </h2>

        <p id="a4_1">
            1.  <b>COMPOSITION</b>.  There is hereby created an Architectural Control Committee, initially composed of Allen M. Ghormley, Miles Prestemon and Gordon Best to serve until their successors are named.  A majority of the Committee may act for the Committee and no notice of any of its meetings shall be required.  Subject to the terms hereinafter set forth, Declarant shall have the right to add members to the Committee and fill vacancies in the Committee membership and Declarant may assign such rights to the Association.  In the event that all members of the ACC shall resign, and Declarant shall fail to appoint successors for a period of 30 days after the last to resign, then in such event the Board of Directors of the Association may appoint the members of the ACC.
        </p>

        <p id="a4_2">
            2.  <b>POWER AND AUTHORITY</b>.  The Committee shall have the express authority to perform fact finding functions hereunder and shall have the power to construe and interpret any covenant, condition or restriction herein.  Members of said Committee and their representatives shall not be liable to any person subject to or possessing or claiming the benefits of these restrictive covenants for any claim of loss or damage whatsoever, including, without limitation, any claims for damage or injury to property or for damage or loss arising out of their acts hereunder.  In the event of non-compliance with this Declaration, the Architectural Control Committee shall have the power to halt such work through legal means, the first step of which shall be written notice to the non-complying Owner of the property, and to require the resolution of such non-compliance prior to continuation of construction.  The Architectural Control Committee shall not be entitled to any compensation for services rendered pursuant to this covenant but shall be entitled to be fully reimbursed for all amounts reasonably expended in the performance of their responsibilities.  The Architectural Control Committee shall have the power to employ professional consultants to assist it in discharging its duties at the expense of the Association.
        </p>

        <p id="a4_3">
            3.  <b>PROCEDURE</b>.  No building, fence or other structure or improvement shall be erected, placed or altered on any Lot in the subdivision until the plans and specifications, including exterior elevations and exterior colors and all exterior materials for such building, fence or other structure and showing the location of such building, fence or other structure, shall have been approved in writing by the Architectural Control Committee as to the quality of workmanship and materials and conformity and harmony of exterior design with existing structures in the subdivision and as to the location with respect to topography, existing trees and finished elevation.  Within thirty (30) days after the Owner has submitted to the Committee all plans that the Committee may require ("Submitted Plans"), the Committee shall notify the Owner in writing whether the Submitted Plans are approved or disapproved.  Any disapproval shall set forth the specific reason or reasons for such disapproval.  In the event the Submitted Plans have not been approved or disapproved within thirty (30) days after submitted, the Submitted Plans will be deemed to have been approved but such deemed approval shall not permit a violation of any of the terms of these covenants.
        </p>

        <p id="a4_4">
            4.  <b>DISCRETION</b>.  It is the express intention of the Declarant that the Architectural Control Committee shall have broad discretion to permit, consent to, or approve a variance from the specific requirements or effect of a particular covenant.  The discretion afforded the Architectural Control Committee in this instrument shall be subject to, but not incompatible with the purpose of this Declaration as set forth in <a href="#a1">Article 1</a> above.
        </p>

        <p id="a4_5">
            5.  <b>SEPARATE ACTIONS</b>.  Each action of the Committee pursuant to this Article shall be separate and apart from any other action, and the grant of a variance or waiver to any one Owner shall not constitute a waiver of the Committee's right to strictly enforce the restrictions created by this Declaration.  All decisions of the Committee shall be final and binding, and there shall be no review of any actions of the Committee.
        </p>

        <p id="a4_6">
            6.  <b>DURATION</b>.  The Architectural Control Committee shall be duly constituted for the entire period of duration of this Declaration.
        </p>

        <h2 id="a5">
            Article 5<br>
            LAND USE REGULATIONS
        </h2>

        <p id="a5_1">
            1.  <b>RESIDENTIAL PURPOSES ONLY</b>.  All land included within the Property shall be used for "residential purposes" only, either for the construction of private single-family residences, including an enclosed private garage for not less than two (2) automobiles, or as part of the Common Facilities; provided, however, that only one such private single-family residence may be constructed, or otherwise placed upon any one Lot.  The terms "residential purpose" as used herein shall be held and construed to exclude any business, commercial, industrial, apartment house, hospital, clinic and/or professional uses, and such excluded uses are hereby expressly prohibited subject solely to the use by each Builder Member of residences within the Property as temporary sales offices and model homes for the display and sale of Lots within the Existing Property and no others.  This restriction shall not, however, prevent the inclusion of permanent living quarters for domestic servants or to allow domestic servants to be domiciled with an owner or resident.
        </p>

        <p id="a5_2">
            2.  <b>STORM WATER POLLUTION PREVENTION PLAN</b>.  Prior to beginning any phase of construction on any lot in Walden Point, Planned Unit Development, the builder or lot owner shall comply with the provisions of the Storm Water Pollution Prevention Plan established by the Environmental Protection Agency.
        </p>

        <p id="a5_3">
            3.  <b>STORAGE OF BUILDING MATERIALS</b>.  Building materials placed on Lots prior to commencement of improvements must be kept in a neat, clean and orderly condition.  No materials may be placed on the street or between the curb and the property line.
        </p>

        <p id="a5_4">
            4.  <b>CONSTRUCTION AND SALES PERIOD</b>.  During the construction and sales period of the initial Living units, Builder Members may erect and maintain such structures as are customary in connection with such construction and sale of such property, including, but not limited to a business office, storage areas, sign, model units, and sales office.  All temporary construction and sales structures shall be aesthetically compatible with the subdivision development as determined by the Committee, and may only be located within the Property for a period not exceeding two (2) years, unless written approval of the ACC is obtained, which approval will not unreasonably be withheld.
        </p>

        <p id="a5_5">
            5.  <b>BUILDING MATERIALS</b>.  The exterior walls of all one-story residential buildings, and the lower story of all two-story residential buildings shall be constructed with masonry, rock, stucco, brick, or brick or masonry veneer for 75% or more of the total exterior wall area.  The exterior walls of all two-story residential buildings shall be constructed with masonry or masonry veneer for 50% or more of the total exterior wall area, with at least the front and two sides being masonry on the first floor of a two-story house.  The rear of any residential buildings constructed on Lots 1-6 shall be 100% masonry for both one and two-story homes.  Window and door openings shall be included as masonry.  Chimneys shall not be included in the masonry requirement.  Detached garages shall be 100% masonry on the front side.  The rear of detached garages located on Lots 1-6 shall be 100% masonry if the rear portion faces the back property line.  Further masonry may be required on detached garages if the ACC deems that side or rear walls are in clear view from the street.  Notwithstanding the foregoing, the Architectural Control Committee is empowered to waive this restriction, if, in its sole discretion, such waiver is advisable in order to accommodate a unique or advanced building concept, design or material, and the resulting structure will not detract from the general appearance of the neighborhood.  Wall materials used on all Lots shall be restricted to those types and colors of bricks approved by the Architectural Control Committee.
        </p>

        <p id="a5_6">
            6.  <b>ROOFING MATERIALS</b>.  Roofing shall be either slate, tile, factory fire-treated wood (if permitted by the City of San Antonio), tarnished metal with standing seams, or composition or fiberglass dimensional shingles, provided that any composition or fiberglass roofing shall be 240 pounds or more.  The Architectural Control Committee shall have the discretion to approve other roof treatments and materials if the form utilized will, in its sole discretion, be harmonious with the surrounding homes and Subdivision as a whole.
        </p>

        <p id="a5_7">
            7.  <b>FENCES</b>.  No fence or wall or hedge shall be built or maintained forward of the front wall line of the main structure, not including decorative walls or fences which are part of the architectural design of the main structure, and which are not to be built or maintained nearer than the building setback line of any Lot, unless otherwise approved in writing by the Architectural Control Committee.
        </p>

        <ol class="letters">
            <li id="a5_7_a">
                Fences constructed on any Lot in this subdivision shall be of the following four types:

                <ol class="numbers">
                    <li id="a5_7_a_1">
                        cedar wood slats not to exceed six inches (6''.) in width; or
                    </li>

                    <li id="a5_7_a_2">
                        all masonry which matches the house; or
                    </li>

                    <li id="a5_7_a_3">
                        a combination of simple wrought iron bars and matching masonry; or
                    </li>

                    <li id="a5_7_a_4">
                        a combination of masonry and cedar wood slats not to exceed six inches (6 ") in width.
                    </li>
                </ol>
            </li>

            <li id="a5_7_b">
                other fences shall be of the four types above described or shall be wood composed of one inch by not more than six inches (1" X 6") wide, six feet (6') tall, vertical cedar planks, without gaps between planks, with the tops either level or notched "dog-ear" style.
            </li>

            <li id="a5_7_c">
                All wooden fences visible from a street shall be constructed facing the street and without any framing visible from the street.
            </li>

            <li id="a5_7_d">
                The Architectural Control Committee is empowered to waive the aforesaid composition requirements for fences and the aforesaid height or setback limitation in connection with retaining walls and decorative walls if, in its sole discretion, such waiver is advisable in order to accommodate a unique, attractive or advanced building concept, design or material, and the resulting fence, decorative wall and/or retaining wall (whichever is applicable) will not detract from the general appearance of the neighborhood.
            </li>

            <li id="a5_7_e">
                No fence, wall, or hedge or shrub planting which obstructs sight lines shall be placed or permitted to remain on any corner Lot within the triangular areas formed by the extension of curb lines and a line connecting them at points twenty-five feet (25') from the intersection of the extended curb lines into the street.  No structures or landscape material over three and one-half feet (3-1/2') tall shall be allowed in this inscribed triangle.
            </li>

            <li id="a5_7_f">
                Fences may be stained or painted to preserve the natural color of the wood.  Fences may not be painted white or stained a harsh color.  Paint or stain colors for fence painting must be approved in advance by the ACC.
            </li>
        </ol>

        <p id="a5_8">
            8.  <b>DRIVEWAYS AND SIDEWALKS</b>. Driveways and entry walks on each residential Lot must be constructed of broom finish concrete.  Any other finish must be approved by the ACC.  The driveway turnout shall be constructed to specifications of the City of San Antonio and in such manner as to provide an attractive transitional radius from the curb and gutter into the driveway entrance and shall prevent escape of drainage water from the street onto any Lots.  Driveways and entrywalks must be shown on the site plan submitted for approval of the Architectural Control Committee.  Asphalt driveways and entrywalks are specifically prohibited.  All sidewalks, crossways, and driveway approaches shall comply with City of San Antonio specifications, including handicapped access.  Any concrete spilled, poured or washed onto a street must be immediately removed leaving the street clean and unstained.
        </p>

        <p id="a5_9">
            9.  <b>TEMPORARY STRUCTURES</b>.  No structure of a temporary character (sales structure, trailer, travel trailer, tent, shack, garage, barn or other outbuildings) shall be used on any Lot at any time as a residence, either temporarily or permanently.  No trailer, camper, recreational vehicles, or similar vehicles shall at any time be parked in view from other properties or connected to utilities situated within a Lot.  No dwelling previously constructed elsewhere may be moved onto any Lot in the subdivision controlled by these covenants.  This covenant specifically includes mobile homes or the use of a mobile home in which the axle and wheels have been removed and placed upon a concrete slab, which said mobile home is hereby specifically prohibited as a residence, either temporarily or permanently, and further, specifically includes a mobile home upon which wheels have been left attached.  Sales offices and construction offices used by the Declarant or Builder Members are permitted but are subject to ACC approval as to number, type, location and ultimate use.
        </p>

        <p id="a5_10">
            10.  <b>RESTRICTIONS ON LOTS</b>.  All Lots in the subdivision shall be used for residential purposes or as part of the Common Area.  No residential building shall remain incomplete for more than six (6) months after construction has commenced.  Temporary use may be made of a house for a Builder Member's sales office, which shall be permitted until such house is sold, not to exceed thirty-six (36) months in total from time of completion, provided such use is approved in writing by Declarant.
        </p>

        <p id="a5_11">
            11.  <b>GARAGES</b>.  A garage able to accommodate at least two (2) full-sized automobiles must be constructed and maintained for each Living Unit.  Garages on corner Lots must be set back at least fifteen feet (15') from the side Lot line and all garages must be set back at least ten feet (10') from the front Lot line if the garage is side loaded and at least fifteen feet (15') from the front Lot line if front loaded.  Each driveway must accommodate two vehicles in front of the garage for off-street parking requirements.  Rear detached garages shall be permitted provided they are constructed in compliance with the requirements of these covenants and the specifications of the City of San Antonio.  No garage shall be permanently enclosed for conversion to any other use.  Open carports are not permitted, unless special design circumstances warrant their use, in which case permission must be obtained in writing from the Architectural Control Committee.
        </p>

        <p id="a5_12">
            12.  <b>MAXIMUM HEIGHT</b>.  No building or structure erected, altered or placed on, within or in the Properties shall exceed thirty-five feet (35') in height (measured from the top of the foundation to the topmost part of the roof) nor be more than two and one-half (2-1/2) stories in height, provided however, that all applicable ordinances, regulations, and statutes which respect to the maximum height of buildings and structures shall, at all times, be complied with.
        </p>

        <p id="a5_13">
            13.  <b>MINIMUM AREA</b>.  The living area of each residence constructed on a Lot shall contain the minimum, contiguous square feet of living space set forth below, such square feet being exclusive of open or screened porches, terraces, patios, driveways, carports, garages and living quarters for domestic servants separated or detached from the primary living area, to wit:
        </p>

        <ol class="letters">
            <li id="a5_14_a">
                Single Story - Twelve Hundred (1200) Square Feet
            </li>

            <li id="a5_14_b">
                Two Story - Fourteen Hundred (1400) Square Feet
            </li>
        </ol>

        <p id="a5_14">
            14.  <b>BUILDING SETBACKS</b>.  Unless otherwise approved by the Architectural Control Committee, the minimum front setback shall be fifteen feet (15') for all structures except for a side entry garage with the garage located in front of the house, which garage shall not be closer than ten feet (10') from the front property line and the remainder of the house shall not be closer than fifteen feet (15') from the front property line.  Rear setback shall be a minimum of fifteen feet (15') except for a detached garage which can be placed a minimum of five feet (5') from the rear line of a Lot, but which shall not encroach on any utility easement.  Lots 5 and 6 shall have a ten foot (10') rear setback.  Side yards shall be a minimum of five feet (5') on each side.
        </p>

        <p id="a5_15">
            15.  <b>LOT CONSOLIDATION</b>.  Any Owner owning two or more adjoining Lots or portions of two or more such Lots may, with the prior approval of the Architectural Control Committee, consolidate such Lots or portions thereof into a single building site for the purpose of constructing one residence and such other improvements as are permitted herein.  Any consolidated Lot shall comply with all lawful requirements of any applicable statutes, ordinance or regulation.  On application by an Owner, the Board of Directors may adjust the assessments on a consolidated Lot to an amount not less that the full assessment rate for a single Lot.  Absent such adjustment, a consolidated Lot shall bear the full assessment rate theretofore applicable to all Lots which are not consolidated.
        </p>

        <p id="a5_16">
            16.  <b>OUTBUILDING REQUIREMENTS</b>.  Every outbuilding, inclusive of such structures as a storage building, gazebo, spa, greenhouse or children's playhouse, shall be compatible with the dwelling to which it is appurtenant in terms of its design and material composition.  All such outbuildings shall be subject to approval of the Architectural Control Committee.  In no instance shall an outbuilding exceed one (1) story in height, nor shall the total floor area of outbuildings other than a detached garage exceed ten percent (10%), individually or in the aggregate, of the floor area of the main dwelling.
        </p>

        <p id="a5_17">
            17.  <b>SIGNS</b>.  No signs, banners, or pennants of any kind shall be displayed to the public view on any single-family residential Lot except one (1) professional sign of not more than nine (9) square feet advertising the property for sale or rent.  Signs used by the developer or builders to advertise Lots or homes within the Properties during the construction and sales period shall be permitted, irrespective of the foregoing.  Signs advertising subcontractors or suppliers are specifically prohibited.  The Architectural Control Committee shall have control over all the wording, design, appearance, size, quantity, and location of all signs.  Except for sale or rental signs adhering to the standards of the first sentence of this Article, all signs within the Property shall be subject to the prior written approval of the ACC.
        </p>

        <p id="a5_18">
            18.  <b>LOT MAINTENANCE</b>.  Grass, weeds and vegetation on each Lot shall be kept mowed at regular intervals.  Trees, shrubs, vines and plants which die shall be promptly removed from the property.  Lawns must be properly maintained and fences must be repaired and maintained and no objectionable or unsightly usage of Lots will be permitted which is visible to the public view.  Building materials shall not be stored on any Lot except when being employed in construction upon such Lot, and any excess materials not needed for construction and any building refuse shall promptly be removed from such Lot.  In the event of default on the part of the Owner or occupant of any Lot in observing the above requirements or any of them, such default continuing after ten (10) days written notice thereof, Declarant, or its assigns, or the Association, may without liability to Owner or any occupants, but without being under any duty to do so, in trespass or otherwise, enter upon said Lot, cut or cause to be cut, such weeds and grass and remove or cause to be removed, such garbage, trash and rubbish or do any other thing necessary to secure compliance which this Declaration, so as to place said Lot in a neat, attractive, healthful and sanitary condition, and may charge the Owner or occupant of such Lot for the cost of such work, plus a reasonable administrative charge and for reasonable attorney's fees.  The Owner or occupant, as the case may be, agrees by the purchase or occupancy of the Lot to pay such statement immediately upon receipt thereof.  The sum due shall be a charge on the Lot and shall be a continuing lien upon the Lot against which such sums are due, and may be enforced as fully as if it were an unpaid annual or special assessment.
        </p>

        <p id="a5_19">
            19.  <b>LANDSCAPING</b>.  All front yards and side yards on all Lots, up to the wing wall that extends from the side of the house to the side property line, must be sodded within thirty days after occupancy of the house.  Side yards on comer lots must be sodded the full length of the property line adjacent to the street.  After sodding, all yards must be maintained with grass or landscaping in a neat and well mown condition, free of unsightly weeds and overgrowth.  Decorative ground cover rock in the front and side yard may be used in lieu of grass but may not exceed ten percent (10%) of the total area of the front and side yard.  Hydromulching and/or seeding may be utilized in place of sodding if approved by the ACC.  No oak, elm, or pecan trees larger than eighteen inches (18") in diameter may be removed without written ACC approval.  EACH OWNER IS ADVISED THAT THERE ARE NO EXPRESS OR IMPLIED WARRANTIES AS TO THE LIFE EXPECTANCY, VITALITY OR FITNESS FOR INTENDED PURPOSE OF ANY TREES OR SHRUBS LOCATED ON THE PROPERTIES.
        </p>

        <p id="a5_20">
            20.  <b>WATER AND SEWAGE SYSTEMS</b>.  No individual water supply system or sewage disposal system shall be permitted on any Lot, including, but not limited to, water wells, cesspools or septic tanks.
        </p>

        <p id="a5_21">
            21.  <b>VEHICLES</b>.  No trailer, motor home, tent, boat, recreational vehicle, travel trailer, or any truck larger than a three-quarter (3/4) ton pick-up or wrecked, junked or wholly inoperable vehicle shall be kept, parked, stored or maintained on any portion of the front yard in front of the building line of the permanent structure nor shall be kept, parked, stored or maintained on other portions of the Lot for a period more than twenty-four (24) hours, unless they are in an enclosed structure or in a screened area which prevents the view thereof from adjacent Lots and streets.  No dismantling or assembling of an auto, trailer, motor home, tent, boat, recreational vehicle, travel trailer, any truck or other machinery or equipment shall be permitted in any driveway, street or yard adjacent to a street.  No commercial vehicle bearing commercial insignia or names shall be parked on any Lot except within an enclosed structure or a screened area which prevents such view thereof from adjacent Lots and streets, unless such vehicle is temporarily parked for the purpose serving such Lot.
        </p>

        <p id="a5_22">
            22.  <b>PARKING AND TRAFFIC REGULATIONS; ENFORCEMENT OF BOARD'S REGULATIONS</b>.  On-street parking is subject to regulations established by the Board of Directors.  The Board of Directors shall also have the right to enact regulations and erect signs to regulate vehicular traffic within the subdivision.  The Board of Directors shall promulgate all regulations so enacted to all members.  The Board of Directors may enforce the regulations so adopted pursuant to this Article, or pursuant to any authority given the Board of Directors by the Bylaws through any of the following means: (a) suspension of privileges of membership; (b) causing any offending vehicle parked in violation of regulations and within a street to be towed at the owner's expense; (c) a fine, imposed only after notice and opportunity for a hearing, which fine shall be a continuing lien upon the Lot of the Owner against whom such fine shall be assessed; or (d) in such other manner as may be permitted, or not prohibited by the Bylaws.
        </p>

        <p id="a5_23">
            23.  <b>GARBAGE AND REFUSE DISPOSAL</b>.  No Lot shall be used or maintained as a dumping ground for rubbish.  Trash, garbage and other waste shall be kept in sanitary containers, whether arranged for alley pickup or street pickup.  No trash, ashes or other refuse may be thrown or dumped on any vacant Lot, park, street, right-of-way, or drainage area in the Properties.  No cans, bags, containers or receptacles for the storing or disposal of trash, garbage, refuse, rubble, or debris shall be stored, kept, placed or maintained on any Lot where visible from any street except solely on a day designated for removal of garbage and rubbish and on which days only such cans, bags, containers, and receptacle may be placed in front of a residence and beside a street for removal but shall be removed from view before the following day.
        </p>

        <p id="a5_24">
            24.  <b>ANIMALS</b>.  No sheep, goats, horses, cattle, swine, poultry, snakes, livestock, or other animals of any kind shall ever be raised, kept, bred, or harbored on any portion of the Properties, except that dogs, cats, or other common household pets (not to exceed a total of three (3) adult animals) may be kept, provided that they are not kept, bred, or maintained for any commercial purposes and provided further that such common household pets shall at all times, except when they are confined within the boundaries of a private single-family residence or Lot upon which same is located, be restrained or controlled by a leash, rope, or similar restraint or a basket, cage, or other container.
        </p>

        <p id="a5_25">
            25.  <b>OIL AND MINING OPERATIONS</b>.  No oil drilling, oil development operations, oil refining, quarrying or mining operations of any kind shall be permitted upon or in any Lot, nor shall oil wells, tanks, tunnels, mineral excavations, or shafts be permitted upon any Lot.  No derrick or other structure designed for use in boring for oil or natural gas shall be erected, maintained or permitted upon any Lot.  No tank for the storage of oil or fluids may be maintained on any Lots above the surface of the ground.
        </p>

        <p id="a5_26">
            26.  <b>COMMUNICATIONS ANTENNAE</b>.  No radio, citizen band or otherwise, or television aerial wires or antennae shall be maintained on any portion of any Lot, except those which are fully enclosed within the structure of the Living Unit.  No microwave or other satellite dishes, antennas, receivers, or transmitters shall be placed on any Lot, without the prior written approval of the Architectural Control Committee.  Solar apparatus, if used, must be installed in a location not visible from the street, any Rights-of-Way or other Parcels or portions thereof, and must be approved by the Architectural Control Committee before erection.
        </p>

        <p id="a5_27">
            27.  <b>NUISANCES</b>.  No noxious or offensive activity shall be carried on upon any Lot, nor shall anything be done thereon which may be or may become an annoyance or nuisance to the neighborhood.
        </p>

        <p id="a5_28">
            28.  <b>ADVERSE CONDITIONS</b>.  No Owner or occupant shall perform any work that will impair the structural soundness or integrity of another Living Unit or impair any easement or hereditament, nor do any act nor allow any condition to exist which will adversely affect the other Living Units or their Owners or residents.
        </p>

        <p id="a5_29">
            29.  <b>EXTERIOR LIGHTING</b>.  No exterior lighting of any sort shall be installed or maintained on a Lot where the light source is offensive or a nuisance to neighboring property (except reasonable security or landscape lighting that has approval of the Architectural Control Committee).
        </p>

        <p id="a5_30">
            30.  <b>EXTERIOR NOISE</b>.  No exterior speakers, horns, whistles, bells or other sound devices (except security devices such as entry door and patio intercoms used exclusively to protect the Lot and improvements situated thereon) shall be placed or used upon any Lot.
        </p>

        <p id="a5_31">
            31.  <b>ATHLETIC FACILITIES</b>.  Tennis court lighting and fencing shall be allowed only with the approval of the Architectural Control Committee.  Basketball goals, or backboards, or any other similar sporting equipment of either a permanent or temporary nature shall not be placed on any Lot in the subdivision or where same would be visible from an adjoining street or Lot, without the prior written consent of the Architectural Control Committee.  The Architectural Control Committee shall have the authority to establish guidelines for the placement and design of basketball goals and no basketball goal shall be kept or maintained within sight of any street except in accordance with any such guidelines established.
        </p>

        <p id="a5_32">
            32.  <b>BURGLAR AND FIRE ALARMS</b>.  Each residence constructed on a Lot within the Subdivision shall include, as part of the initial construction, a perimeter burglar alarm system covering all exterior doors, entries and windows and such type, number, and location of smoke detectors as stipulated by the ordinances and/or building codes of the City of San Antonio then in effect.
        </p>

        <p id="a5_33">
            33.  <b>HOUSE NUMBERING</b>.  House numbers identifying the address of each house must be placed as close as possible to the front entry and shall be illuminated so that the numbers can be easily read from the street at night.  Size, color and material of the numbers must be compatible with the design and color of the house.
        </p>

        <p id="a5_34">
            34.  <b>ADDITIONAL LAND USE REGULATIONS</b>.  The Association is empowered to establish additional land use regulations relating to the Property, both on Lots and the Common Facilities (including subdivision streets) as it may from time-to-time deem necessary to ensure the preservation and appearance of the Subdivision as a first class residential neighborhood and such rules and regulations shall, when promulgated, be in all respects binding on and enforceable against all Lot Owners, provided, however, no such additional rules or regulations shall in any manner revoke or relax any of the restrictions of use set forth in this section.
        </p>


        <h2 id="a6">
            Article 6<br>
            EASEMENTS
        </h2>

        <p id="a6_1">
            1.  <b>EASEMENTS</b>.  Easements for installation and maintenance of utilities and drainage facilities are reserved as shown on the recorded plat.  Within these easements, if any, no structure, planting or other material shall be placed or permitted to remain which may damage or interfere with the installation and maintenance of utilities or, in the case of drainage easements, which may change the direction of flow of water through drainage channels in such easements.  The easement area of each Lot, if any, and all improvements in such area shall be maintained continuously by the Owner of the Lot, except for those improvements for which a public authority or utility company is responsible.  All drainage on Lots must comply with the area grading plan attached as Exhibit A.
        </p>

        <p id="a6_2">
            2.  <b>SUBDIVISION WALLS AND COLUMNS</b>.  An easement for construction, reconstruction, repair, and maintenance of any subdivision entry wall, monument, or sign, which may be now or hereafter erected on a Lot, is hereby reserved to Declarant and the Association upon and across each such Lot.  No Owner of a Lot on which a subdivision entry wall, monument, or sign is placed shall do or permit any act which damages, defaces, or alters such wall, monument or sign or obscures the same from view of any adjoining street.  Any vegetation growing outside of a subdivision entry wall which borders the rear of any lot in Walden Point shall be maintained by the Association. Vegetation growing between the subdivision entry wall and the adjoining street along the side of any corner lot shall be maintained by the Lot Owner in a neat, orderly and trimmed condition, failing which, Declarant and/or the Association may enter on the Lot for such purposes and at the expense of the Owner.
        </p>

        <p id="a6_3">
            3.  <b>MAINTENANCE AND ACCESS EASEMENTS</b>.  There is hereby created in favor of all easement owners, Declarant, the Association, and their assignees, a right of ingress or egress across, over, and under the Properties for the purpose of installing, replacing, repairing, and maintaining all facilities for utilities, including, but not limited to, water, sewer, telephone, electricity, gas, and appurtenances thereto, and to repair, correct, replace, or maintain any wan, fixture, light, or other structure or item constituting part of the Common Facilities or required or permitted to be maintained under the terms hereof or to correct or remove any condition prohibited under the terms hereof.
        </p>

        <p id="a6_4">
            4.  <b>WAIVER OF LIABILITY</b>.  Neither the Declarant nor the Architectural Control Committee nor any member of the Committee shall be liable for any damage done by any utility company or their assigns, agents, employees or servants, using any easements now or hereafter in existence, whether located on, in, under, or through the Properties, to fences, shrubbery, trees or flowers or other property now or hereinafter situated on, in under, or through the Properties.  No provision hereof related to placement or nature of structures or conditions on a lot, nor the approval thereof, express or implied, by the Declarant or the Committee shall affect the rights of easement owners nor enlarge the rights of Lot Owners with regard to the construction or maintenance of improvements or conditions within an easement area.
        </p>

        <p id="a6_5">
            5.  <b>DRAINAGE EASEMENTS OR "RIGHTS OF WAY"</b>.  Easements for drainage throughout the subdivision are reserved as shown on the Subdivision Plat, such easements being depicted thereon as "drainage easements" or "rights of way."  No Owner of any Lot in the subdivision may perform or cause to be performed any act which would alter or change the course of such drainage easements in a manner that would divert, increase, accelerate or impede the natural flow of water over and across such easements or rights of way. More specifically and without limitation, no Owner or resident of a Living Unit may:
        </p>

        <ol class="letters">
            <li id="a6_5_a">
                alter, change or modify the existing natural vegetation of the drainage easements or rights of way in a manner that changes the character of the original environment of such easements or rights of way;
            </li>

            <li id="a6_5_b">
                alter, change or modify the existing configuration of the drainage easements or rights of way, or fill, excavate or terrace such easements, or remove trees or other vegetation therefrom without the prior written approval of the Architectural Control Committee and the City of San Antonio Drainage Engineer;
            </li>

            <li id="a6_5_c">
                construct, erect or install a fence or other structure of any type or nature within or upon such drainage easements or rights of way;
            </li>

            <li id="a6_5_d">
                permit storage, either temporary or permanent, of any type upon or within such drainage easements of rights of way; or
            </li>

            <li id="a6_5_e">
                place, score or permit to accumulate trash, garbage, leaves, limbs or other debris within or upon the drainage easements or rights of way, either on a temporary or permanent basis.
            </li>
        </ol>

        <p id="a6_6">
            6.  <b>COMPLIANCE BY OWNER</b>.  The failure of any Owner to comply with the provisions of this Article shall in no event be deemed or construed to impose liability of any nature on the Architectural Control Committee and/or Declarant, and such Committee and/or Declarant shall not be charged with any affirmative duty to police, control or enforce such provisions.  The drainage easements or rights of way provided for in this Article shall in no way affect any other recorded easement in the subdivision.
        </p>

        <p id="a6_7">
            7.  <b>OVERHANG EASEMENTS</b>.  Each Lot shall be subject to an easement five feet (5') wide for encroachments created by construction, settling and overhang of structures constructed by third parties.
        </p>


        <h2 id="a7">
            Article 7<br>
            AMENDMENTS
        </h2>

        <p id="a7_1">
            1.  <b>AMENDMENT BY DECLARANT</b>.  Declarant reserves the right in its sole discretion to amend, alter, delete, or remove these restrictions without the consent of Owners so long as Class B membership exists, where such amendment, alteration, deletion or removal is in the best interests of the Owners, as determined by Declarant in its sole discretion.  The sole restriction on Declarant's ability to amend the Declaration in this fashion is that the amendment must not be illegal or against public policy.
        </p>

        <p id="a7_2">
            2.  <b>AMENDMENT BY OWNERS</b>.  This Declaration may be amended by written instrument executed by the Owners of seventy-five percent (75%) or more of the Lots, provided that no amendment prior to January 1, 2015, shall be effective until approved and executed by Declarant and filed of record in the Official Public Records of Real Property of Bexar County, Texas.
        </p>

        <p id="a7_3">
            3.  <b>DURATION</b>.  This Declaration shall remain in force and effect until January 1, 2015, at which time, and each tenth anniversary thereafter, this Declaration shall be automatically renewed for a period of ten years unless the Owners of seventy-five percent (75%) of the Lots shall file a written agreement to abandon same.
        </p>

        <p id="a7_4">
            4.  <b>FHA/VA APPROVAL</b>.  Absent Declarant's written waiver, and for so long as the Declarant, its successors and assigns, have a controlling vote of the Association, the following actions will require the prior approval of the Federal Housing Administration and/or the Veterans Administration: (a) dedication of Common Area; and (c) amendment of this Declaration other than pursuant to this Article.
        </p>


        <h2 id="a8">
            Article 8<br>
            ENFORCEMENT
        </h2>

        <p id="a8_1">
            1.  <b>BREACH BY OWNER</b>.  The failure of any Owner or tenant to comply with any restriction or covenant will result in irreparable damage to Declarant and other Owners of Lots in the Subdivision; thus the breach of any provision of this Declaration may not only give rise to an action for damages at law, but also may be made the subject of an action for injunctive relief and/or specific performance in equity in any court of competent jurisdiction.  In the event enforcement actions are instituted and the enforcing party recovers, then in addition to the remedies specified above, court costs and reasonable attorney's fees shall be assessed against the violator.
        </p>

        <p id="a8_2">
            2.  <b>REMEDIES</b>.  In addition to the remedies for enforcement provided for elsewhere in this Declaration, the violation or attempted violation of the provisions of this Declaration, or any amendment hereto, or Rules and Regulations promulgated by the Board of Directors, by an Owner, his family, guests, lessees or licensees shall authorize the Board (in the case of all of the following remedies) or any Owner (in the case of the remedies provided in (d) below), to avail itself of any one or more of the following remedies:
        </p>

        <ol class="letters">
            <li id="a8_2_a">
                The imposition of a special charge not to exceed Two Hundred ($200.00) Dollars per violation, or
            </li>

            <li id="a8_2_b">
                The suspension of Owner's rights to use any Association property for a period not to exceed thirty (30) days per violation, plus attorney's fees incurred by the Association with respect to the exercise of such remedy, or
            </li>

            <li id="a8_2_c">
                The right to cure or abate such violation, including the right to enter any Lot upon which such violation exists without liability for trespass, and to charge the expense thereof, if any, to such Owner, plus attorney's fees incurred by the Association with respect to the exercise of such remedy', or
            </li>

            <li id="a8_2_d">
                The right to seek injunctive or any other relief provided or allowed by law against such violation and to recover from such Owner all its expenses and costs in connection therewith, including, but not limited to attorney's fees and court costs.
            </li>
        </ol>


        <p id="a8_3">
            3.  <b>WRITTEN NOTICE</b>.  Before the Board invokes the remedies provided in subparagraphs (a), (b), (c), and (d) above, it shall give written notice of such alleged violation to Owner, and shall provide the Owner the opportunity to respond.  If, after the response, a violation is found to exist, the Board's right to proceed with the listed remedies shall become absolute.  Each day a violation continues shall be deemed a separate violation.  Failure of the Association, the Declarant, or of any Owner to take any action upon any breach or default with respect to any of the foregoing violations shall not be deemed a waiver of their right to take enforcement action thereafter or upon a subsequent breach or default.
        </p>

        <p id="a8_4">
            4.  <b>LIEN AGAINST OWNER</b>.  All charges assessed against an Owner pursuant to this Article shall constitute a continuing lien upon the Lot of such Owner as fully as if such charge were an unpaid annual or special assessment.
        </p>


        <h2 id="a9">
            Article 9<br>
            MISCELLANEOUS
        </h2>

        <p id="a9_1">
            1.  <b>TITLES</b>.  The titles, headings and captions which have been used throughout this Declaration are for convenience only and are not to be used in construing this Declaration or any part thereof.
        </p>

        <p id="a9_2">
            2.  <b>GOVERNING LAW</b>.  THIS AGREEMENT SHALL BE GOVERNED BY AND CONSTRUED AND INTERPRETED IN ACCORDANCE WITH THE LAWS OF THE STATE OF TEXAS.  ALL ACTS REQUIRED OR PERMITTED TO BE PERFORMED HEREUNDER ARE PERFORMABLE IN BEXAR COUNTY, TEXAS, AND IT IS AGREED THAT ANY ACTION BROUGHT TO ENFORCE OR CONSTRUE THE TERMS OR PROVISIONS HEREOF OR TO ENJOIN OR REQUIRE THE PERFORMANCE OF ANY ACT IN CONNECTION HEREWITH SHALL BE BROUGHT IN A COURT OF COMPETENT JURISDICTION SITTING IN BEXAR COUNTY, TEXAS.
        </p>

        <p id="a9_3">
            3.  <b>INTERPRETATION</b>.  If this Declaration or any word, clause, sentence, paragraph or other part thereof shall be susceptible to more than one or conflicting interpretations, then the interpretation which is more nearly in accordance with the general purposes and objectives of this Declaration shall govern.
        </p>

        <p id="a9_4">
            4.  <b>OMISSIONS</b>.  If any punctuation, word, clause, sentence, or provisions necessary to give meaning, validity, or effect to any other word, clause, sentence, or provision appearing in this Declaration shall be omitted herefrom, then it is hereby declared that such omission was unintentional and that the omitted punctuation, word, clause, sentence or provision shall be supplied by inference.
        </p>

        <p id="a9_5">
            5.  <b>GENDER AND GRAMMAR</b>.  The singular, whenever used herein, shall be construed to mean the plural, when applicable, and the necessary grammatical changes required to make the provisions here apply either to corporations or individuals, males or females shall in all cases be assumed as though in each case fully expressed.
        </p>

        <p>
            <del title="Changed in Ammendment 1">6.  <b>MASTER ASSOCIATION AND RECREATION ASSOCIATION</b>.  All Lot owners shall become and continue to be members of the Crown Ridge of Texas Owners Association, Inc. (the "Master Association") and the Sierra Heights Homeowners Association, Inc. (the "Recreation Association") and agree to comply with its governing articles, the purposes of which are to provide various services and facilities for the use and benefit of the property owners, and all lot owners agree to accept such membership and to perform and be bound by the obligations, terms and conditions of membership in such Associations in accordance with their duly provided charters, bylaws, and resolutions.</del>
        </p>
        <p id="a9_6">
            <ins>6. <b>MASTER ASSOCIATION</b>. All Lot owners shall become and continue to be members of the Crown Ridge of Texas owners Association, Inc. (the "Master Association") and agree to comply with its governing articles, the purposes of which are to provide various services and facilities for the use and benefit of the property owners, and all Lot owners agree to accept such membership and to perform and be bound by the obligations<span class="typo" title="This is a typo.  It should read ', terms'">. Terms</span> and conditions of membership in such Association in accordance with its duly provided charter, bylaws and resolutions.  Membership in the Recreation Association shall be optional for owners.</ins>
        </p>

        <p id="a9_7">
            7.  <b>ADDITIONAL INFORMATION</b>. Architectural Design Guidelines for the subdivision, Rules and Regulations of the Association, and the other documents and information which may affect an Owner or prospective Owner may be implemented by the ACC, the Association or the Declarant.  Each Owner and prospective Owner is advised to carefully examine each of such documents in addition to this Declaration to determine his rights and obligations as an Owner.
        </p>

        <p>
            EXECUTED effective the 15th day of February, 1995.
        </p>

        <pre class="tab">
            CAMP BULLIS, LTD.,
            a Texas limited partnership

            By: DDH Enterprises, Inc.,
            a Texas Corporation, General Partner

            By: Denzil Hallmark, Jr. President

        STATE OF TEXAS
        COUNTY OF BEXAR
        </pre>

        <p>
            This instrument was acknowledged before me on the 15th day of February, 1995, by Denzil Hallmark, Jr., President of DDH Enterprises,Inc., a Texas corporation, General Partner of CAMP BULLIS, LTD., a Texas limited partnership, on behalf of said corporation and partnership.
        </p>

        <p>
            DEBRA K BATTON, Notary Public, State of Texas
        </p>
    </div>
{% endblock %}
