{% extends "doc/layout.html" %}

{% block title %}
DCCR - Amend. 1
{% endblock %}

{% block content %}
    <h1 id="title">
        FIRST AMENDMENT TO THE<br>
        DECLARTION OF COVENANTS, CONDITIONS, AND RESTRICTIONS<br>
        FOR WALDEN POINT, A PLANNED UNIT DEVELOPMENT<br>
        ALSO KNOWN AS WALDEN MEADOWS GARDEN HOMES UNIT-2
    </h1>

    <div id="content">
        <p>
            The Declaration of Covenants, Conditions, and Restrictions for Walden Point, a Planned Unit Development, also known as Walden Meadows Garden Homes Unit-2, recorded at Volume 6345, Page 1784, et seq., Official Public Records of Real Property of Bexar County, Texas (hereinafter the "Declaration"), is hereby amended as follows, to-wit:
        </p>
        <div class="tab">
            <p>
                <a href="dccr#a9_6"><span title="This is a typo and should be Article 9">Article 8</span>, Section 6 of the Declaration</a>, is amended to read as follows:
            </p>

            <div class="tab">
                <p>
                    6.  MASTER ASSOCIATION.  All Lot owners shall become and continue to be members of the Crown Ridge of Texas owners Association, Inc. (the "Master Association") and agree to comply with its governing articles, the purposes of which are to provide various services and facilities for the use and benefit of the property owners, and all Lot owners agree to accept such membership and to perform and be bound by the obligations.  Terms and conditions of membership in such Association in accordance with its duly provided charter, bylaws and resolutions.  <mark>Membership in the Recreation Association shall be optional for owners.</mark>
                </p>
            </div>

        </div>
        <p>
            Except as stated above, the Declaration is carried forward and ratified in full force and effect.
        </p>
        <p>
            The foregoing Amendment was approved by Owners entitled to cast at least sixty-seven percent of all votes of all members of the Walden Point Homeowners Association, Inc., as certified by the signature of the President and Secretary of the Association below.
        </p>

        <pre class="tab">
            SIGNED this 4 day of April, 2018.
            WALDEN POINT HOMEOWNERS ASSOCIATION, INC.,
            a Texas non-profit corporation

            By: Sandy Schneider-Gonzalez, Its President
            By: Gilbert C. Perales, Its Secretary
        </pre>
    </div>
{% endblock %}
