{% extends "doc/layout.html" %}

{% block title %}
Regulations
{% endblock %}

{% block content %}
    <h1 id="title">
        REGULATIONS<br>
        OF<br>
        WALDEN POINT HOMEOWNERS ASSOCIATION, INC.
</h1>

    <div id="content">
        <p>
            In accordance with the <a href="https://waldenpoint.org/doc/dccr">Declaration of Covenants, Conditions, and Restrictions (DCCR)</a> the board has approved the following regulations.

        </p>

        <h2 id="parking">Article 1: Parking</h2>

        <p id="p_p1">
            1. Double parking on Arbor Meadow Rd is not allowed.
        </p>
        <p id="p_p2">
            2. To ensure access of emergency vehicles to each lot of Walden Point, street parking is not permitted when any portion of the parked vehicle will overlap with another vehicle already parked on the other side of the street.
        </p>
        <p id="p_p3">
            3. No trailers, 18 wheelers, or trucks are permitted on the street unless necessary for actively moving or completing repairs or improvement of a lot.
        </p>
        <p id="p_p4">
            4. No resident may park on the street for more than 5 days per month. Vehicles owned by occupants at the time this rule is passed (December 1, 2023) and are not able to fit in the house’s garage or driveway will be allowed to park in the street for period of 1 year from the passing of this restriction.
        </p>

        <h2 id="f">Article 2: Fines</h2>
        <p id="f_p1">
            1. The board is authorized to enforce regulations by imposing fines on members in <a href="https://waldenpoint.org/doc/dccr#a5_22">Article 5 Section 22 of the DCCR</a>.
        </p>
        <p id="f_p2">
            2. Violations of a restriction of the <a href="https://waldenpoint.org/doc/dccr">DCCR</a> or regulation passed by the board of directors will result in a fine of $50 per day.  The daily fine will increase by $25 for each subsequent week until the member is no longer in violation of the restriction.
        </p>
    </div>
{% endblock %}
